Health_Patterns/FHIR_Bundle_Enrichment.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : { },
      "flowContents" : {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "groupId" : "40227a5b-4e42-3331-8512-143dac52aa1b",
            "id" : "cdc6ba33-1bde-3135-ba89-a989435b553b",
            "name" : "Failure",
            "type" : "OUTPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "40227a5b-4e42-3331-8512-143dac52aa1b",
          "identifier" : "c85a543f-06e9-3310-83a2-4818caf06498",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "groupId" : "f00c88e2-ace1-3c45-b9d1-482b0d97abda",
            "id" : "59f220e8-5232-3976-b5df-2816ea6da8a2",
            "name" : "Failure",
            "type" : "OUTPUT_PORT"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "f00c88e2-ace1-3c45-b9d1-482b0d97abda",
            "id" : "fef3ad4b-53db-3879-b4e8-c32a75c336c3",
            "name" : "FHIR resource",
            "type" : "INPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "40227a5b-4e42-3331-8512-143dac52aa1b",
          "identifier" : "3746cafa-4908-3847-9159-6ec0587c094e",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "40227a5b-4e42-3331-8512-143dac52aa1b",
            "id" : "22f030d1-d837-3920-ab44-9dd6a7288ec3",
            "name" : "Listening for Updated Patients",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : 2752.983239608412,
            "y" : 1506.5819992006036
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "40227a5b-4e42-3331-8512-143dac52aa1b",
            "id" : "e67a05b4-6f93-357c-abe7-3ab07bcc3621",
            "name" : "LogMessage",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "40227a5b-4e42-3331-8512-143dac52aa1b",
          "identifier" : "ba14cdbc-6177-3461-b18e-fc455627b286",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "comments" : "",
            "groupId" : "f00c88e2-ace1-3c45-b9d1-482b0d97abda",
            "id" : "22182f75-4fb7-34be-afeb-62c56ec96f8f",
            "name" : "DeID FHIR Response",
            "type" : "OUTPUT_PORT"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "40227a5b-4e42-3331-8512-143dac52aa1b",
            "id" : "e67a05b4-6f93-357c-abe7-3ab07bcc3621",
            "name" : "LogMessage",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "40227a5b-4e42-3331-8512-143dac52aa1b",
          "identifier" : "88c437e8-acfe-3601-b677-4034f07b7b2f",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "comments" : "",
            "groupId" : "f00c88e2-ace1-3c45-b9d1-482b0d97abda",
            "id" : "519fb1ad-adc7-310d-921d-ea273ef35367",
            "name" : "DeID FHIR Resource",
            "type" : "OUTPUT_PORT"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "40227a5b-4e42-3331-8512-143dac52aa1b",
            "id" : "c789fe01-dbbe-3d00-89d3-6ca663bb475c",
            "name" : "Publish Enriched Patient",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "40227a5b-4e42-3331-8512-143dac52aa1b",
          "identifier" : "496a244e-b41a-35a1-a7f4-a0a16f190734",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "comments" : "",
            "groupId" : "f00c88e2-ace1-3c45-b9d1-482b0d97abda",
            "id" : "c9cb8abf-b552-3031-9e88-8956e555541e",
            "name" : "Enriched FHIR resource",
            "type" : "OUTPUT_PORT"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "40227a5b-4e42-3331-8512-143dac52aa1b",
            "id" : "fe6cb592-1960-3474-9428-af4e2438b6b9",
            "name" : "LogMessage",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "40227a5b-4e42-3331-8512-143dac52aa1b",
          "identifier" : "08eb306c-427a-3812-a00a-83aba165da01",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "40227a5b-4e42-3331-8512-143dac52aa1b",
            "id" : "c789fe01-dbbe-3d00-89d3-6ca663bb475c",
            "name" : "Publish Enriched Patient",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "groupId" : "40227a5b-4e42-3331-8512-143dac52aa1b",
            "id" : "cdc6ba33-1bde-3135-ba89-a989435b553b",
            "name" : "Failure",
            "type" : "OUTPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "40227a5b-4e42-3331-8512-143dac52aa1b",
          "identifier" : "3c76d25a-588c-36ba-aeac-474f49cdf3a7",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "40227a5b-4e42-3331-8512-143dac52aa1b",
            "id" : "c789fe01-dbbe-3d00-89d3-6ca663bb475c",
            "name" : "Publish Enriched Patient",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ ],
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ ],
        "identifier" : "40227a5b-4e42-3331-8512-143dac52aa1b",
        "inputPorts" : [ ],
        "labels" : [ {
          "componentType" : "LABEL",
          "groupIdentifier" : "40227a5b-4e42-3331-8512-143dac52aa1b",
          "height" : 32.0,
          "identifier" : "22b10441-7d00-3dfa-aebe-063f1a886b11",
          "label" : "enrich.in",
          "position" : {
            "x" : 2632.983239608412,
            "y" : 1098.5819992006036
          },
          "style" : {
            "font-size" : "16px"
          },
          "width" : 152.0
        }, {
          "componentType" : "LABEL",
          "groupIdentifier" : "40227a5b-4e42-3331-8512-143dac52aa1b",
          "height" : 32.0,
          "identifier" : "e415c284-4f99-3947-bfeb-13772e87e98f",
          "label" : "enrich.out",
          "position" : {
            "x" : 2656.983239608412,
            "y" : 1706.5819992006036
          },
          "style" : {
            "font-size" : "16px"
          },
          "width" : 160.0
        } ],
        "name" : "Enrich FHIR Data",
        "outputPorts" : [ {
          "allowRemoteAccess" : false,
          "componentType" : "OUTPUT_PORT",
          "concurrentlySchedulableTaskCount" : 1,
          "groupIdentifier" : "40227a5b-4e42-3331-8512-143dac52aa1b",
          "identifier" : "cdc6ba33-1bde-3135-ba89-a989435b553b",
          "name" : "Failure",
          "position" : {
            "x" : 1704.9832396084123,
            "y" : 1530.5819992006036
          },
          "type" : "OUTPUT_PORT"
        } ],
        "parameterContextName" : "Enrichment Parameter Context",
        "position" : {
          "x" : 888.0,
          "y" : 224.0
        },
        "processGroups" : [ {
          "comments" : "",
          "componentType" : "PROCESS_GROUP",
          "connections" : [ {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "groupId" : "f00c88e2-ace1-3c45-b9d1-482b0d97abda",
              "id" : "59f220e8-5232-3976-b5df-2816ea6da8a2",
              "name" : "Failure",
              "type" : "OUTPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "f00c88e2-ace1-3c45-b9d1-482b0d97abda",
            "identifier" : "ab112e4c-b75c-3487-b9fd-601b0907b5be",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "groupId" : "244b5a82-d615-3e00-aaa0-1dccc7326857",
              "id" : "b6ece790-754c-3ce3-9792-8c8c7b038ab2",
              "name" : "Failure",
              "type" : "OUTPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "f00c88e2-ace1-3c45-b9d1-482b0d97abda",
              "id" : "c9cb8abf-b552-3031-9e88-8956e555541e",
              "name" : "Enriched FHIR resource",
              "type" : "OUTPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "f00c88e2-ace1-3c45-b9d1-482b0d97abda",
            "identifier" : "b13e631e-9e9d-3c65-b542-1bd09c401840",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "unmatched" ],
            "source" : {
              "comments" : "",
              "groupId" : "f00c88e2-ace1-3c45-b9d1-482b0d97abda",
              "id" : "e8b8920f-ddb7-31e1-aac1-b5e88fa36f27",
              "name" : "RouteOnAttribute",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "f00c88e2-ace1-3c45-b9d1-482b0d97abda",
              "id" : "22182f75-4fb7-34be-afeb-62c56ec96f8f",
              "name" : "DeID FHIR Response",
              "type" : "OUTPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "f00c88e2-ace1-3c45-b9d1-482b0d97abda",
            "identifier" : "749a788d-56c3-3c56-bbfe-6ab2964bceb2",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "7d295d3e-de2e-3390-8d18-245eb0ade35e",
              "id" : "f9f5fa94-6d58-3ae3-b1bf-66a706acafae",
              "name" : "FHIR Response",
              "type" : "OUTPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "f00c88e2-ace1-3c45-b9d1-482b0d97abda",
              "id" : "c9cb8abf-b552-3031-9e88-8956e555541e",
              "name" : "Enriched FHIR resource",
              "type" : "OUTPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "f00c88e2-ace1-3c45-b9d1-482b0d97abda",
            "identifier" : "3c63c104-62c4-3e0f-bb77-b2d60e537d41",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "dea121a6-8a8b-33de-a1ae-a7f39d16fe1f",
              "id" : "1f5f5055-9e5c-3256-8918-b354c885135a",
              "name" : "Output",
              "type" : "OUTPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "7d295d3e-de2e-3390-8d18-245eb0ade35e",
              "id" : "aee62770-b784-3db0-b17e-b8d7c8a97ce2",
              "name" : "FHIR Resource",
              "type" : "INPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "f00c88e2-ace1-3c45-b9d1-482b0d97abda",
            "identifier" : "808a9197-6e88-3f0f-9355-cac82e6fdebc",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "DeidentifyData" ],
            "source" : {
              "comments" : "",
              "groupId" : "f00c88e2-ace1-3c45-b9d1-482b0d97abda",
              "id" : "1875c95f-253a-37c5-9589-d3353d5d9af0",
              "name" : "RouteOnAttribute",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "groupId" : "f00c88e2-ace1-3c45-b9d1-482b0d97abda",
              "id" : "59f220e8-5232-3976-b5df-2816ea6da8a2",
              "name" : "Failure",
              "type" : "OUTPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "f00c88e2-ace1-3c45-b9d1-482b0d97abda",
            "identifier" : "156e4dbc-7ac2-3fc5-affe-f781be850af9",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "groupId" : "7d295d3e-de2e-3390-8d18-245eb0ade35e",
              "id" : "36a7aa41-7b61-36f3-b1b2-5708f8e82f3e",
              "name" : "Failure",
              "type" : "OUTPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "f00c88e2-ace1-3c45-b9d1-482b0d97abda",
              "id" : "e8b8920f-ddb7-31e1-aac1-b5e88fa36f27",
              "name" : "RouteOnAttribute",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "f00c88e2-ace1-3c45-b9d1-482b0d97abda",
            "identifier" : "afed848e-3a1d-324a-8f3b-db9a38a98218",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "244b5a82-d615-3e00-aaa0-1dccc7326857",
              "id" : "1f5f5055-9e5c-3256-8918-b354c885135a",
              "name" : "Output",
              "type" : "OUTPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "groupId" : "f00c88e2-ace1-3c45-b9d1-482b0d97abda",
              "id" : "59f220e8-5232-3976-b5df-2816ea6da8a2",
              "name" : "Failure",
              "type" : "OUTPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "f00c88e2-ace1-3c45-b9d1-482b0d97abda",
            "identifier" : "4432cb83-e020-3e57-a972-8d50d18f5072",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "groupId" : "dea121a6-8a8b-33de-a1ae-a7f39d16fe1f",
              "id" : "b6ece790-754c-3ce3-9792-8c8c7b038ab2",
              "name" : "Failure",
              "type" : "OUTPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "dea121a6-8a8b-33de-a1ae-a7f39d16fe1f",
              "id" : "d257175c-4548-311a-9003-56f9305285a9",
              "name" : "FHIR Resource",
              "type" : "INPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "f00c88e2-ace1-3c45-b9d1-482b0d97abda",
            "identifier" : "2638cfb2-7d41-33f4-9b75-94196a658d5b",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "RunASCVD" ],
            "source" : {
              "comments" : "",
              "groupId" : "f00c88e2-ace1-3c45-b9d1-482b0d97abda",
              "id" : "e8b8920f-ddb7-31e1-aac1-b5e88fa36f27",
              "name" : "RouteOnAttribute",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "f00c88e2-ace1-3c45-b9d1-482b0d97abda",
              "id" : "e8b8920f-ddb7-31e1-aac1-b5e88fa36f27",
              "name" : "RouteOnAttribute",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "f00c88e2-ace1-3c45-b9d1-482b0d97abda",
            "identifier" : "d4205ad2-9e50-3d19-938b-c9c716626d75",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "unmatched" ],
            "source" : {
              "comments" : "",
              "groupId" : "f00c88e2-ace1-3c45-b9d1-482b0d97abda",
              "id" : "f1a1f3a5-2b12-36dd-8f93-63772746b2eb",
              "name" : "RouteOnAttribute",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "f00c88e2-ace1-3c45-b9d1-482b0d97abda",
              "id" : "519fb1ad-adc7-310d-921d-ea273ef35367",
              "name" : "DeID FHIR Resource",
              "type" : "OUTPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "f00c88e2-ace1-3c45-b9d1-482b0d97abda",
            "identifier" : "86c939a4-5c3e-39a8-8afc-0e60ee30fe62",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "groupId" : "7d295d3e-de2e-3390-8d18-245eb0ade35e",
              "id" : "b70a5d82-0603-3a23-b1e2-9ecfc814a794",
              "name" : "De-Identified FHIR Resource",
              "type" : "OUTPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "244b5a82-d615-3e00-aaa0-1dccc7326857",
              "id" : "d257175c-4548-311a-9003-56f9305285a9",
              "name" : "FHIR Resource",
              "type" : "INPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "f00c88e2-ace1-3c45-b9d1-482b0d97abda",
            "identifier" : "b49281af-d615-3672-88d5-d3aace8acb7b",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "ResolveTerminology" ],
            "source" : {
              "comments" : "",
              "groupId" : "f00c88e2-ace1-3c45-b9d1-482b0d97abda",
              "id" : "f1a1f3a5-2b12-36dd-8f93-63772746b2eb",
              "name" : "RouteOnAttribute",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "f00c88e2-ace1-3c45-b9d1-482b0d97abda",
              "id" : "f1a1f3a5-2b12-36dd-8f93-63772746b2eb",
              "name" : "RouteOnAttribute",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "f00c88e2-ace1-3c45-b9d1-482b0d97abda",
            "identifier" : "2ed273bc-736c-3eff-abe9-70604cdea319",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "DeidentifyData", "unmatched" ],
            "source" : {
              "comments" : "",
              "groupId" : "f00c88e2-ace1-3c45-b9d1-482b0d97abda",
              "id" : "1875c95f-253a-37c5-9589-d3353d5d9af0",
              "name" : "RouteOnAttribute",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "f00c88e2-ace1-3c45-b9d1-482b0d97abda",
              "id" : "1875c95f-253a-37c5-9589-d3353d5d9af0",
              "name" : "RouteOnAttribute",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "f00c88e2-ace1-3c45-b9d1-482b0d97abda",
            "identifier" : "66efc5d7-fdcc-3543-9ceb-8285b11a3f6e",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "f00c88e2-ace1-3c45-b9d1-482b0d97abda",
              "id" : "fef3ad4b-53db-3879-b4e8-c32a75c336c3",
              "name" : "FHIR resource",
              "type" : "INPUT_PORT"
            },
            "zIndex" : 0
          } ],
          "controllerServices" : [ ],
          "flowFileConcurrency" : "UNBOUNDED",
          "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
          "funnels" : [ ],
          "groupIdentifier" : "40227a5b-4e42-3331-8512-143dac52aa1b",
          "identifier" : "f00c88e2-ace1-3c45-b9d1-482b0d97abda",
          "inputPorts" : [ {
            "allowRemoteAccess" : false,
            "comments" : "",
            "componentType" : "INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "f00c88e2-ace1-3c45-b9d1-482b0d97abda",
            "identifier" : "fef3ad4b-53db-3879-b4e8-c32a75c336c3",
            "name" : "FHIR resource",
            "position" : {
              "x" : 352.0,
              "y" : 616.0
            },
            "type" : "INPUT_PORT"
          } ],
          "labels" : [ {
            "componentType" : "LABEL",
            "groupIdentifier" : "f00c88e2-ace1-3c45-b9d1-482b0d97abda",
            "height" : 208.0,
            "identifier" : "14e0eb82-8386-3c2a-8590-c93537146f9d",
            "label" : "Run through ASCVD",
            "position" : {
              "x" : 272.0,
              "y" : 1344.0
            },
            "style" : {
              "background-color" : "#203485",
              "font-size" : "18px"
            },
            "width" : 1040.0
          }, {
            "componentType" : "LABEL",
            "groupIdentifier" : "f00c88e2-ace1-3c45-b9d1-482b0d97abda",
            "height" : 208.0,
            "identifier" : "991f820b-5f2f-33c5-ae31-b9cb62b95e5d",
            "label" : "De-identify data",
            "position" : {
              "x" : 272.0,
              "y" : 752.0
            },
            "style" : {
              "background-color" : "#be2633",
              "font-size" : "18px"
            },
            "width" : 1040.0
          }, {
            "componentType" : "LABEL",
            "groupIdentifier" : "f00c88e2-ace1-3c45-b9d1-482b0d97abda",
            "height" : 208.0,
            "identifier" : "a6282a9f-de32-344e-b71f-c69e42c244f7",
            "label" : "Run through Terminology Service",
            "position" : {
              "x" : 272.0,
              "y" : 1040.0
            },
            "style" : {
              "background-color" : "#eb8931",
              "font-size" : "18px"
            },
            "width" : 1040.0
          } ],
          "name" : "Enrich FHIR Data",
          "outputPorts" : [ {
            "allowRemoteAccess" : false,
            "comments" : "",
            "componentType" : "OUTPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "f00c88e2-ace1-3c45-b9d1-482b0d97abda",
            "identifier" : "22182f75-4fb7-34be-afeb-62c56ec96f8f",
            "name" : "DeID FHIR Response",
            "position" : {
              "x" : 1528.0,
              "y" : 856.0
            },
            "type" : "OUTPUT_PORT"
          }, {
            "allowRemoteAccess" : false,
            "comments" : "",
            "componentType" : "OUTPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "f00c88e2-ace1-3c45-b9d1-482b0d97abda",
            "identifier" : "519fb1ad-adc7-310d-921d-ea273ef35367",
            "name" : "DeID FHIR Resource",
            "position" : {
              "x" : 1520.0,
              "y" : 744.0
            },
            "type" : "OUTPUT_PORT"
          }, {
            "allowRemoteAccess" : false,
            "comments" : "",
            "componentType" : "OUTPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "f00c88e2-ace1-3c45-b9d1-482b0d97abda",
            "identifier" : "c9cb8abf-b552-3031-9e88-8956e555541e",
            "name" : "Enriched FHIR resource",
            "position" : {
              "x" : 616.0,
              "y" : 1672.0
            },
            "type" : "OUTPUT_PORT"
          }, {
            "allowRemoteAccess" : false,
            "componentType" : "OUTPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "f00c88e2-ace1-3c45-b9d1-482b0d97abda",
            "identifier" : "59f220e8-5232-3976-b5df-2816ea6da8a2",
            "name" : "Failure",
            "position" : {
              "x" : 1536.0,
              "y" : 1112.0
            },
            "type" : "OUTPUT_PORT"
          } ],
          "parameterContextName" : "Enrichment Parameter Context",
          "position" : {
            "x" : 2232.983239608412,
            "y" : 1362.5819992006036
          },
          "processGroups" : [ {
            "comments" : "",
            "componentType" : "PROCESS_GROUP",
            "connections" : [ {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "groupId" : "dea121a6-8a8b-33de-a1ae-a7f39d16fe1f",
                "id" : "b6ece790-754c-3ce3-9792-8c8c7b038ab2",
                "name" : "Failure",
                "type" : "OUTPUT_PORT"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "dea121a6-8a8b-33de-a1ae-a7f39d16fe1f",
              "identifier" : "e125a172-1fbc-322d-9a13-a3265dc48981",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "No Retry", "Retry", "Failure" ],
              "source" : {
                "comments" : "",
                "groupId" : "dea121a6-8a8b-33de-a1ae-a7f39d16fe1f",
                "id" : "fe5de16d-2f25-3b2a-a576-c92014af7a48",
                "name" : "Calculate ASCVD and add RiskAssessment to Bundle",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "dea121a6-8a8b-33de-a1ae-a7f39d16fe1f",
                "id" : "fe5de16d-2f25-3b2a-a576-c92014af7a48",
                "name" : "Calculate ASCVD and add RiskAssessment to Bundle",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "dea121a6-8a8b-33de-a1ae-a7f39d16fe1f",
              "identifier" : "723414ab-4da2-3996-8f5e-babc60b3becb",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "" ],
              "source" : {
                "comments" : "",
                "groupId" : "dea121a6-8a8b-33de-a1ae-a7f39d16fe1f",
                "id" : "d257175c-4548-311a-9003-56f9305285a9",
                "name" : "FHIR Resource",
                "type" : "INPUT_PORT"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "dea121a6-8a8b-33de-a1ae-a7f39d16fe1f",
                "id" : "1f5f5055-9e5c-3256-8918-b354c885135a",
                "name" : "Output",
                "type" : "OUTPUT_PORT"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "dea121a6-8a8b-33de-a1ae-a7f39d16fe1f",
              "identifier" : "a7ab66e5-5148-3026-8eb3-c7146b0de6d3",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "Response" ],
              "source" : {
                "comments" : "",
                "groupId" : "dea121a6-8a8b-33de-a1ae-a7f39d16fe1f",
                "id" : "fe5de16d-2f25-3b2a-a576-c92014af7a48",
                "name" : "Calculate ASCVD and add RiskAssessment to Bundle",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            } ],
            "controllerServices" : [ ],
            "flowFileConcurrency" : "UNBOUNDED",
            "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
            "funnels" : [ ],
            "groupIdentifier" : "f00c88e2-ace1-3c45-b9d1-482b0d97abda",
            "identifier" : "dea121a6-8a8b-33de-a1ae-a7f39d16fe1f",
            "inputPorts" : [ {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "dea121a6-8a8b-33de-a1ae-a7f39d16fe1f",
              "identifier" : "d257175c-4548-311a-9003-56f9305285a9",
              "name" : "FHIR Resource",
              "position" : {
                "x" : 1432.0,
                "y" : 528.0
              },
              "type" : "INPUT_PORT"
            } ],
            "labels" : [ ],
            "name" : "Run ASCVD",
            "outputPorts" : [ {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "OUTPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "dea121a6-8a8b-33de-a1ae-a7f39d16fe1f",
              "identifier" : "1f5f5055-9e5c-3256-8918-b354c885135a",
              "name" : "Output",
              "position" : {
                "x" : 1192.0,
                "y" : 1000.0
              },
              "type" : "OUTPUT_PORT"
            }, {
              "allowRemoteAccess" : false,
              "componentType" : "OUTPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "dea121a6-8a8b-33de-a1ae-a7f39d16fe1f",
              "identifier" : "b6ece790-754c-3ce3-9792-8c8c7b038ab2",
              "name" : "Failure",
              "position" : {
                "x" : 1688.0,
                "y" : 1000.0
              },
              "type" : "OUTPUT_PORT"
            } ],
            "parameterContextName" : "ASCVD Parameter Context",
            "position" : {
              "x" : 904.0,
              "y" : 1360.0
            },
            "processGroups" : [ ],
            "processors" : [ {
              "autoTerminatedRelationships" : [ "Original" ],
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "nifi-standard-nar",
                "group" : "org.apache.nifi",
                "version" : "1.12.1"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "dea121a6-8a8b-33de-a1ae-a7f39d16fe1f",
              "identifier" : "fe5de16d-2f25-3b2a-a576-c92014af7a48",
              "name" : "Calculate ASCVD and add RiskAssessment to Bundle",
              "penaltyDuration" : "30 sec",
              "position" : {
                "x" : 1376.0,
                "y" : 696.0
              },
              "properties" : {
                "use-etag" : "false",
                "Proxy Type" : "http",
                "Connection Timeout" : "5 secs",
                "send-message-body" : "true",
                "set-form-filename" : "true",
                "Always Output Response" : "false",
                "etag-max-cache-size" : "10MB",
                "idle-timeout" : "5 mins",
                "Use Chunked Encoding" : "false",
                "Follow Redirects" : "True",
                "Remote URL" : "#{ASCVD_FROM_FHIR_URL}/fhir",
                "Content-Type" : "${mime.type}",
                "max-idle-connections" : "5",
                "Read Timeout" : "15 secs",
                "Max Length To Put In Attribute" : "256",
                "ignore-response-content" : "false",
                "Digest Authentication" : "false",
                "HTTP Method" : "POST",
                "Add Response Headers to Request" : "false",
                "Include Date Header" : "True",
                "Penalize on \"No Retry\"" : "false"
              },
              "propertyDescriptors" : {
                "Proxy Host" : {
                  "displayName" : "Proxy Host",
                  "identifiesControllerService" : false,
                  "name" : "Proxy Host",
                  "sensitive" : false
                },
                "Attributes to Send" : {
                  "displayName" : "Attributes to Send",
                  "identifiesControllerService" : false,
                  "name" : "Attributes to Send",
                  "sensitive" : false
                },
                "use-etag" : {
                  "displayName" : "Use HTTP ETag",
                  "identifiesControllerService" : false,
                  "name" : "use-etag",
                  "sensitive" : false
                },
                "proxy-configuration-service" : {
                  "displayName" : "Proxy Configuration Service",
                  "identifiesControllerService" : true,
                  "name" : "proxy-configuration-service",
                  "sensitive" : false
                },
                "Proxy Type" : {
                  "displayName" : "Proxy Type",
                  "identifiesControllerService" : false,
                  "name" : "Proxy Type",
                  "sensitive" : false
                },
                "Basic Authentication Password" : {
                  "displayName" : "Basic Authentication Password",
                  "identifiesControllerService" : false,
                  "name" : "Basic Authentication Password",
                  "sensitive" : true
                },
                "Connection Timeout" : {
                  "displayName" : "Connection Timeout",
                  "identifiesControllerService" : false,
                  "name" : "Connection Timeout",
                  "sensitive" : false
                },
                "send-message-body" : {
                  "displayName" : "Send Message Body",
                  "identifiesControllerService" : false,
                  "name" : "send-message-body",
                  "sensitive" : false
                },
                "set-form-filename" : {
                  "displayName" : "Set Flowfile Form Data File Name",
                  "identifiesControllerService" : false,
                  "name" : "set-form-filename",
                  "sensitive" : false
                },
                "Always Output Response" : {
                  "displayName" : "Always Output Response",
                  "identifiesControllerService" : false,
                  "name" : "Always Output Response",
                  "sensitive" : false
                },
                "etag-max-cache-size" : {
                  "displayName" : "Maximum ETag Cache Size",
                  "identifiesControllerService" : false,
                  "name" : "etag-max-cache-size",
                  "sensitive" : false
                },
                "idle-timeout" : {
                  "displayName" : "Idle Timeout",
                  "identifiesControllerService" : false,
                  "name" : "idle-timeout",
                  "sensitive" : false
                },
                "Put Response Body In Attribute" : {
                  "displayName" : "Put Response Body In Attribute",
                  "identifiesControllerService" : false,
                  "name" : "Put Response Body In Attribute",
                  "sensitive" : false
                },
                "Use Chunked Encoding" : {
                  "displayName" : "Use Chunked Encoding",
                  "identifiesControllerService" : false,
                  "name" : "Use Chunked Encoding",
                  "sensitive" : false
                },
                "Follow Redirects" : {
                  "displayName" : "Follow Redirects",
                  "identifiesControllerService" : false,
                  "name" : "Follow Redirects",
                  "sensitive" : false
                },
                "Remote URL" : {
                  "displayName" : "Remote URL",
                  "identifiesControllerService" : false,
                  "name" : "Remote URL",
                  "sensitive" : false
                },
                "Content-Type" : {
                  "displayName" : "Content-Type",
                  "identifiesControllerService" : false,
                  "name" : "Content-Type",
                  "sensitive" : false
                },
                "form-body-form-name" : {
                  "displayName" : "Flowfile Form Data Name",
                  "identifiesControllerService" : false,
                  "name" : "form-body-form-name",
                  "sensitive" : false
                },
                "max-idle-connections" : {
                  "displayName" : "Max Idle Connections",
                  "identifiesControllerService" : false,
                  "name" : "max-idle-connections",
                  "sensitive" : false
                },
                "invokehttp-proxy-user" : {
                  "displayName" : "Proxy Username",
                  "identifiesControllerService" : false,
                  "name" : "invokehttp-proxy-user",
                  "sensitive" : false
                },
                "Read Timeout" : {
                  "displayName" : "Read Timeout",
                  "identifiesControllerService" : false,
                  "name" : "Read Timeout",
                  "sensitive" : false
                },
                "Max Length To Put In Attribute" : {
                  "displayName" : "Max Length To Put In Attribute",
                  "identifiesControllerService" : false,
                  "name" : "Max Length To Put In Attribute",
                  "sensitive" : false
                },
                "invokehttp-proxy-password" : {
                  "displayName" : "Proxy Password",
                  "identifiesControllerService" : false,
                  "name" : "invokehttp-proxy-password",
                  "sensitive" : true
                },
                "ignore-response-content" : {
                  "displayName" : "Ignore response's content",
                  "identifiesControllerService" : false,
                  "name" : "ignore-response-content",
                  "sensitive" : false
                },
                "Proxy Port" : {
                  "displayName" : "Proxy Port",
                  "identifiesControllerService" : false,
                  "name" : "Proxy Port",
                  "sensitive" : false
                },
                "SSL Context Service" : {
                  "displayName" : "SSL Context Service",
                  "identifiesControllerService" : true,
                  "name" : "SSL Context Service",
                  "sensitive" : false
                },
                "Digest Authentication" : {
                  "displayName" : "Use Digest Authentication",
                  "identifiesControllerService" : false,
                  "name" : "Digest Authentication",
                  "sensitive" : false
                },
                "HTTP Method" : {
                  "displayName" : "HTTP Method",
                  "identifiesControllerService" : false,
                  "name" : "HTTP Method",
                  "sensitive" : false
                },
                "Add Response Headers to Request" : {
                  "displayName" : "Add Response Headers to Request",
                  "identifiesControllerService" : false,
                  "name" : "Add Response Headers to Request",
                  "sensitive" : false
                },
                "Basic Authentication Username" : {
                  "displayName" : "Basic Authentication Username",
                  "identifiesControllerService" : false,
                  "name" : "Basic Authentication Username",
                  "sensitive" : false
                },
                "Include Date Header" : {
                  "displayName" : "Include Date Header",
                  "identifiesControllerService" : false,
                  "name" : "Include Date Header",
                  "sensitive" : false
                },
                "Penalize on \"No Retry\"" : {
                  "displayName" : "Penalize on \"No Retry\"",
                  "identifiesControllerService" : false,
                  "name" : "Penalize on \"No Retry\"",
                  "sensitive" : false
                },
                "Useragent" : {
                  "displayName" : "Useragent",
                  "identifiesControllerService" : false,
                  "name" : "Useragent",
                  "sensitive" : false
                }
              },
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : { },
              "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
              "yieldDuration" : "1 sec"
            } ],
            "remoteProcessGroups" : [ ],
            "variables" : { }
          }, {
            "comments" : "",
            "componentType" : "PROCESS_GROUP",
            "connections" : [ {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "244b5a82-d615-3e00-aaa0-1dccc7326857",
                "id" : "1f5f5055-9e5c-3256-8918-b354c885135a",
                "name" : "Output",
                "type" : "OUTPUT_PORT"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "244b5a82-d615-3e00-aaa0-1dccc7326857",
              "identifier" : "7961bef9-b9c6-3fde-b57e-a41c3391fc05",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "success" ],
              "source" : {
                "comments" : "",
                "groupId" : "244b5a82-d615-3e00-aaa0-1dccc7326857",
                "id" : "baab324d-68e1-3c0c-b40e-f98f8fb4b22b",
                "name" : "FHIRTranslation",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "groupId" : "244b5a82-d615-3e00-aaa0-1dccc7326857",
                "id" : "b6ece790-754c-3ce3-9792-8c8c7b038ab2",
                "name" : "Failure",
                "type" : "OUTPUT_PORT"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "244b5a82-d615-3e00-aaa0-1dccc7326857",
              "identifier" : "5a4d41ab-8f55-35c4-abd8-95b4c9e9a439",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "failure" ],
              "source" : {
                "comments" : "",
                "groupId" : "244b5a82-d615-3e00-aaa0-1dccc7326857",
                "id" : "baab324d-68e1-3c0c-b40e-f98f8fb4b22b",
                "name" : "FHIRTranslation",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "244b5a82-d615-3e00-aaa0-1dccc7326857",
                "id" : "baab324d-68e1-3c0c-b40e-f98f8fb4b22b",
                "name" : "FHIRTranslation",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "244b5a82-d615-3e00-aaa0-1dccc7326857",
              "identifier" : "a763f96b-03ef-3a22-b432-49c281b9a46c",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "" ],
              "source" : {
                "comments" : "",
                "groupId" : "244b5a82-d615-3e00-aaa0-1dccc7326857",
                "id" : "d257175c-4548-311a-9003-56f9305285a9",
                "name" : "FHIR Resource",
                "type" : "INPUT_PORT"
              },
              "zIndex" : 0
            } ],
            "controllerServices" : [ ],
            "flowFileConcurrency" : "UNBOUNDED",
            "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
            "funnels" : [ ],
            "groupIdentifier" : "f00c88e2-ace1-3c45-b9d1-482b0d97abda",
            "identifier" : "244b5a82-d615-3e00-aaa0-1dccc7326857",
            "inputPorts" : [ {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "244b5a82-d615-3e00-aaa0-1dccc7326857",
              "identifier" : "d257175c-4548-311a-9003-56f9305285a9",
              "name" : "FHIR Resource",
              "position" : {
                "x" : 368.0,
                "y" : 152.0
              },
              "type" : "INPUT_PORT"
            } ],
            "labels" : [ ],
            "name" : "Resolve Terminology",
            "outputPorts" : [ {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "OUTPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "244b5a82-d615-3e00-aaa0-1dccc7326857",
              "identifier" : "1f5f5055-9e5c-3256-8918-b354c885135a",
              "name" : "Output",
              "position" : {
                "x" : 1344.0,
                "y" : 80.0
              },
              "type" : "OUTPUT_PORT"
            }, {
              "allowRemoteAccess" : false,
              "componentType" : "OUTPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "244b5a82-d615-3e00-aaa0-1dccc7326857",
              "identifier" : "b6ece790-754c-3ce3-9792-8c8c7b038ab2",
              "name" : "Failure",
              "position" : {
                "x" : 1352.0,
                "y" : 240.0
              },
              "type" : "OUTPUT_PORT"
            } ],
            "parameterContextName" : "cms_adapter_parameters",
            "position" : {
              "x" : 904.0,
              "y" : 1056.0
            },
            "processGroups" : [ ],
            "processors" : [ {
              "autoTerminatedRelationships" : [ ],
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "nifi-health-patterns-nar",
                "group" : "com.ibm.healthpatterns",
                "version" : "0.0.2-SNAPSHOT"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "244b5a82-d615-3e00-aaa0-1dccc7326857",
              "identifier" : "baab324d-68e1-3c0c-b40e-f98f8fb4b22b",
              "name" : "FHIRTranslation",
              "penaltyDuration" : "30 sec",
              "position" : {
                "x" : 744.0,
                "y" : 112.0
              },
              "properties" : {
                "FHIR Server Username" : "#{FHIR_User_PatientAccess}",
                "FHIR Server URL" : "#{FHIR_URL_PatientAccess}",
                "FHIR Server Password" : "#{FHIR_UserPwd_PatientAccess}"
              },
              "propertyDescriptors" : {
                "FHIR Server Username" : {
                  "displayName" : "FHIR Server Username",
                  "identifiesControllerService" : false,
                  "name" : "FHIR Server Username",
                  "sensitive" : false
                },
                "FHIR Server URL" : {
                  "displayName" : "FHIR Server URL",
                  "identifiesControllerService" : false,
                  "name" : "FHIR Server URL",
                  "sensitive" : false
                },
                "FHIR Server Password" : {
                  "displayName" : "FHIR Server Password",
                  "identifiesControllerService" : false,
                  "name" : "FHIR Server Password",
                  "sensitive" : true
                }
              },
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : { },
              "type" : "com.ibm.healthpatterns.processors.terminology.FHIRTranslation",
              "yieldDuration" : "1 sec"
            } ],
            "remoteProcessGroups" : [ ],
            "variables" : { }
          }, {
            "comments" : "",
            "componentType" : "PROCESS_GROUP",
            "connections" : [ {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "groupId" : "7d295d3e-de2e-3390-8d18-245eb0ade35e",
                "id" : "b70a5d82-0603-3a23-b1e2-9ecfc814a794",
                "name" : "De-Identified FHIR Resource",
                "type" : "OUTPUT_PORT"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "7d295d3e-de2e-3390-8d18-245eb0ade35e",
              "identifier" : "ebd7596a-6e32-3f81-8511-732aa02c694c",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "deidentified" ],
              "source" : {
                "comments" : "",
                "groupId" : "7d295d3e-de2e-3390-8d18-245eb0ade35e",
                "id" : "89529bea-7d1f-3834-9743-be565aa47417",
                "name" : "DeIdentify",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "7d295d3e-de2e-3390-8d18-245eb0ade35e",
                "id" : "f9f5fa94-6d58-3ae3-b1bf-66a706acafae",
                "name" : "FHIR Response",
                "type" : "OUTPUT_PORT"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "7d295d3e-de2e-3390-8d18-245eb0ade35e",
              "identifier" : "29cd5f93-4faa-373b-a14a-5352bb0155d0",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "success" ],
              "source" : {
                "comments" : "",
                "groupId" : "7d295d3e-de2e-3390-8d18-245eb0ade35e",
                "id" : "89529bea-7d1f-3834-9743-be565aa47417",
                "name" : "DeIdentify",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "groupId" : "7d295d3e-de2e-3390-8d18-245eb0ade35e",
                "id" : "36a7aa41-7b61-36f3-b1b2-5708f8e82f3e",
                "name" : "Failure",
                "type" : "OUTPUT_PORT"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "7d295d3e-de2e-3390-8d18-245eb0ade35e",
              "identifier" : "920c5855-3313-3232-8b29-9da3f88f3173",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "failure" ],
              "source" : {
                "comments" : "",
                "groupId" : "7d295d3e-de2e-3390-8d18-245eb0ade35e",
                "id" : "89529bea-7d1f-3834-9743-be565aa47417",
                "name" : "DeIdentify",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "7d295d3e-de2e-3390-8d18-245eb0ade35e",
                "id" : "89529bea-7d1f-3834-9743-be565aa47417",
                "name" : "DeIdentify",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "7d295d3e-de2e-3390-8d18-245eb0ade35e",
              "identifier" : "e0140fea-2232-3e72-a241-1fc95d3cdf5b",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "" ],
              "source" : {
                "comments" : "",
                "groupId" : "7d295d3e-de2e-3390-8d18-245eb0ade35e",
                "id" : "aee62770-b784-3db0-b17e-b8d7c8a97ce2",
                "name" : "FHIR Resource",
                "type" : "INPUT_PORT"
              },
              "zIndex" : 0
            } ],
            "controllerServices" : [ ],
            "flowFileConcurrency" : "UNBOUNDED",
            "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
            "funnels" : [ ],
            "groupIdentifier" : "f00c88e2-ace1-3c45-b9d1-482b0d97abda",
            "identifier" : "7d295d3e-de2e-3390-8d18-245eb0ade35e",
            "inputPorts" : [ {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "7d295d3e-de2e-3390-8d18-245eb0ade35e",
              "identifier" : "aee62770-b784-3db0-b17e-b8d7c8a97ce2",
              "name" : "FHIR Resource",
              "position" : {
                "x" : -304.0,
                "y" : -80.0
              },
              "type" : "INPUT_PORT"
            } ],
            "labels" : [ ],
            "name" : "De-identify Patient Data",
            "outputPorts" : [ {
              "allowRemoteAccess" : false,
              "componentType" : "OUTPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "7d295d3e-de2e-3390-8d18-245eb0ade35e",
              "identifier" : "b70a5d82-0603-3a23-b1e2-9ecfc814a794",
              "name" : "De-Identified FHIR Resource",
              "position" : {
                "x" : 808.0,
                "y" : 48.0
              },
              "type" : "OUTPUT_PORT"
            }, {
              "allowRemoteAccess" : false,
              "componentType" : "OUTPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "7d295d3e-de2e-3390-8d18-245eb0ade35e",
              "identifier" : "36a7aa41-7b61-36f3-b1b2-5708f8e82f3e",
              "name" : "Failure",
              "position" : {
                "x" : 240.0,
                "y" : 176.0
              },
              "type" : "OUTPUT_PORT"
            }, {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "OUTPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "7d295d3e-de2e-3390-8d18-245eb0ade35e",
              "identifier" : "f9f5fa94-6d58-3ae3-b1bf-66a706acafae",
              "name" : "FHIR Response",
              "position" : {
                "x" : 800.0,
                "y" : -152.0
              },
              "type" : "OUTPUT_PORT"
            } ],
            "parameterContextName" : "Clinical Ingestion De-Identification Parameter Context",
            "position" : {
              "x" : 896.0,
              "y" : 768.0
            },
            "processGroups" : [ ],
            "processors" : [ {
              "autoTerminatedRelationships" : [ "original" ],
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "nifi-health-patterns-nar",
                "group" : "com.ibm.healthpatterns",
                "version" : "0.0.2-SNAPSHOT"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "7d295d3e-de2e-3390-8d18-245eb0ade35e",
              "identifier" : "89529bea-7d1f-3834-9743-be565aa47417",
              "name" : "DeIdentify",
              "penaltyDuration" : "30 sec",
              "position" : {
                "x" : 184.0,
                "y" : -104.0
              },
              "properties" : {
                "De-identification Service URL" : "#{DEID_SERVICE_API_URL}",
                "De-identified FHIR Server Username" : "#{DEID_FHIR_USER}",
                "De-identified FHIR Server Password" : "#{DEID_FHIR_PASSWORD}",
                "De-identified FHIR Server URL" : "#{DEID_FHIR_SERVER}"
              },
              "propertyDescriptors" : {
                "De-identification Service URL" : {
                  "displayName" : "De-identification Service URL",
                  "identifiesControllerService" : false,
                  "name" : "De-identification Service URL",
                  "sensitive" : false
                },
                "De-identified FHIR Server Username" : {
                  "displayName" : "De-identified FHIR Server Username",
                  "identifiesControllerService" : false,
                  "name" : "De-identified FHIR Server Username",
                  "sensitive" : false
                },
                "De-identified FHIR Server Password" : {
                  "displayName" : "De-identified FHIR Server Password",
                  "identifiesControllerService" : false,
                  "name" : "De-identified FHIR Server Password",
                  "sensitive" : true
                },
                "De-identified FHIR Server URL" : {
                  "displayName" : "De-identified FHIR Server URL",
                  "identifiesControllerService" : false,
                  "name" : "De-identified FHIR Server URL",
                  "sensitive" : false
                }
              },
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : { },
              "type" : "com.ibm.healthpatterns.processors.deid.DeIdentify",
              "yieldDuration" : "1 sec"
            } ],
            "remoteProcessGroups" : [ ],
            "variables" : { }
          } ],
          "processors" : [ {
            "autoTerminatedRelationships" : [ ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.12.1"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "f00c88e2-ace1-3c45-b9d1-482b0d97abda",
            "identifier" : "e8b8920f-ddb7-31e1-aac1-b5e88fa36f27",
            "name" : "RouteOnAttribute",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 296.0,
              "y" : 1392.0
            },
            "properties" : {
              "Routing Strategy" : "Route to Property name",
              "RunASCVD" : "${RunASCVD:notNull():and(${RunASCVD:isEmpty():not()}):ifElse(${RunASCVD},#{RunASCVD}):equalsIgnoreCase(\"true\")}"
            },
            "propertyDescriptors" : {
              "Routing Strategy" : {
                "displayName" : "Routing Strategy",
                "identifiesControllerService" : false,
                "name" : "Routing Strategy",
                "sensitive" : false
              },
              "RunASCVD" : {
                "displayName" : "RunASCVD",
                "identifiesControllerService" : false,
                "name" : "RunASCVD",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.12.1"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "f00c88e2-ace1-3c45-b9d1-482b0d97abda",
            "identifier" : "f1a1f3a5-2b12-36dd-8f93-63772746b2eb",
            "name" : "RouteOnAttribute",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 296.0,
              "y" : 1088.0
            },
            "properties" : {
              "ResolveTerminology" : "${ResolveTerminology:notNull():and(${ResolveTerminology:isEmpty():not()}):ifElse(${ResolveTerminology},#{ResolveTerminology}):equalsIgnoreCase(\"true\")}",
              "Routing Strategy" : "Route to Property name"
            },
            "propertyDescriptors" : {
              "ResolveTerminology" : {
                "displayName" : "ResolveTerminology",
                "identifiesControllerService" : false,
                "name" : "ResolveTerminology",
                "sensitive" : false
              },
              "Routing Strategy" : {
                "displayName" : "Routing Strategy",
                "identifiesControllerService" : false,
                "name" : "Routing Strategy",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.12.1"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "f00c88e2-ace1-3c45-b9d1-482b0d97abda",
            "identifier" : "1875c95f-253a-37c5-9589-d3353d5d9af0",
            "name" : "RouteOnAttribute",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 296.0,
              "y" : 784.0
            },
            "properties" : {
              "Routing Strategy" : "Route to Property name",
              "DeidentifyData" : "${DeidentifyData:notNull():and(${DeidentifyData:isEmpty():not()}):ifElse(${DeidentifyData},#{DeidentifyData}):equalsIgnoreCase(\"true\")}"
            },
            "propertyDescriptors" : {
              "Routing Strategy" : {
                "displayName" : "Routing Strategy",
                "identifiesControllerService" : false,
                "name" : "Routing Strategy",
                "sensitive" : false
              },
              "DeidentifyData" : {
                "displayName" : "DeidentifyData",
                "identifiesControllerService" : false,
                "name" : "DeidentifyData",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
            "yieldDuration" : "1 sec"
          } ],
          "remoteProcessGroups" : [ ],
          "variables" : { }
        } ],
        "processors" : [ {
          "autoTerminatedRelationships" : [ "success" ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.12.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "40227a5b-4e42-3331-8512-143dac52aa1b",
          "identifier" : "fe6cb592-1960-3474-9428-af4e2438b6b9",
          "name" : "LogMessage",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 2264.983239608412,
            "y" : 1890.5819992006036
          },
          "properties" : {
            "log-message" : "Enriched FHIR Bundle posted to kafka",
            "log-level" : "trace"
          },
          "propertyDescriptors" : {
            "log-message" : {
              "displayName" : "Log message",
              "identifiesControllerService" : false,
              "name" : "log-message",
              "sensitive" : false
            },
            "log-level" : {
              "displayName" : "Log Level",
              "identifiesControllerService" : false,
              "name" : "log-level",
              "sensitive" : false
            },
            "log-prefix" : {
              "displayName" : "Log prefix",
              "identifiesControllerService" : false,
              "name" : "log-prefix",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogMessage",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-kafka-2-6-nar",
            "group" : "org.apache.nifi",
            "version" : "1.12.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "40227a5b-4e42-3331-8512-143dac52aa1b",
          "identifier" : "c789fe01-dbbe-3d00-89d3-6ca663bb475c",
          "name" : "Publish Enriched Patient",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 2256.983239608412,
            "y" : 1666.5819992006036
          },
          "properties" : {
            "compression.type" : "none",
            "bootstrap.servers" : "#{kafka-brokers}",
            "sasl.mechanism" : "PLAIN",
            "max.block.ms" : "5 sec",
            "message-header-encoding" : "UTF-8",
            "ack.wait.time" : "5 secs",
            "sasl.username" : "#{kafka.auth.user}",
            "use-transactions" : "true",
            "acks" : "all",
            "security.protocol" : "PLAINTEXT",
            "max.request.size" : "1 MB",
            "sasl.token.auth" : "false",
            "partitioner.class" : "org.apache.kafka.clients.producer.internals.DefaultPartitioner",
            "topic" : "#{enrich.out}",
            "sasl.password" : "#{kafka.auth.password}",
            "key-attribute-encoding" : "utf-8"
          },
          "propertyDescriptors" : {
            "compression.type" : {
              "displayName" : "Compression Type",
              "identifiesControllerService" : false,
              "name" : "compression.type",
              "sensitive" : false
            },
            "attribute-name-regex" : {
              "displayName" : "Attributes to Send as Headers (Regex)",
              "identifiesControllerService" : false,
              "name" : "attribute-name-regex",
              "sensitive" : false
            },
            "bootstrap.servers" : {
              "displayName" : "Kafka Brokers",
              "identifiesControllerService" : false,
              "name" : "bootstrap.servers",
              "sensitive" : false
            },
            "sasl.kerberos.principal" : {
              "displayName" : "Kerberos Principal",
              "identifiesControllerService" : false,
              "name" : "sasl.kerberos.principal",
              "sensitive" : false
            },
            "sasl.kerberos.service.name" : {
              "displayName" : "Kerberos Service Name",
              "identifiesControllerService" : false,
              "name" : "sasl.kerberos.service.name",
              "sensitive" : false
            },
            "kerberos-credentials-service" : {
              "displayName" : "Kerberos Credentials Service",
              "identifiesControllerService" : true,
              "name" : "kerberos-credentials-service",
              "sensitive" : false
            },
            "kafka-key" : {
              "displayName" : "Kafka Key",
              "identifiesControllerService" : false,
              "name" : "kafka-key",
              "sensitive" : false
            },
            "partition" : {
              "displayName" : "Partition",
              "identifiesControllerService" : false,
              "name" : "partition",
              "sensitive" : false
            },
            "sasl.mechanism" : {
              "displayName" : "SASL Mechanism",
              "identifiesControllerService" : false,
              "name" : "sasl.mechanism",
              "sensitive" : false
            },
            "max.block.ms" : {
              "displayName" : "Max Metadata Wait Time",
              "identifiesControllerService" : false,
              "name" : "max.block.ms",
              "sensitive" : false
            },
            "message-header-encoding" : {
              "displayName" : "Message Header Encoding",
              "identifiesControllerService" : false,
              "name" : "message-header-encoding",
              "sensitive" : false
            },
            "message-demarcator" : {
              "displayName" : "Message Demarcator",
              "identifiesControllerService" : false,
              "name" : "message-demarcator",
              "sensitive" : false
            },
            "transactional-id-prefix" : {
              "displayName" : "Transactional Id Prefix",
              "identifiesControllerService" : false,
              "name" : "transactional-id-prefix",
              "sensitive" : false
            },
            "ack.wait.time" : {
              "displayName" : "Acknowledgment Wait Time",
              "identifiesControllerService" : false,
              "name" : "ack.wait.time",
              "sensitive" : false
            },
            "sasl.username" : {
              "displayName" : "Username",
              "identifiesControllerService" : false,
              "name" : "sasl.username",
              "sensitive" : false
            },
            "use-transactions" : {
              "displayName" : "Use Transactions",
              "identifiesControllerService" : false,
              "name" : "use-transactions",
              "sensitive" : false
            },
            "acks" : {
              "displayName" : "Delivery Guarantee",
              "identifiesControllerService" : false,
              "name" : "acks",
              "sensitive" : false
            },
            "security.protocol" : {
              "displayName" : "Security Protocol",
              "identifiesControllerService" : false,
              "name" : "security.protocol",
              "sensitive" : false
            },
            "ssl.context.service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "ssl.context.service",
              "sensitive" : false
            },
            "max.request.size" : {
              "displayName" : "Max Request Size",
              "identifiesControllerService" : false,
              "name" : "max.request.size",
              "sensitive" : false
            },
            "sasl.token.auth" : {
              "displayName" : "Token Auth",
              "identifiesControllerService" : false,
              "name" : "sasl.token.auth",
              "sensitive" : false
            },
            "partitioner.class" : {
              "displayName" : "Partitioner class",
              "identifiesControllerService" : false,
              "name" : "partitioner.class",
              "sensitive" : false
            },
            "sasl.kerberos.keytab" : {
              "displayName" : "Kerberos Keytab",
              "identifiesControllerService" : false,
              "name" : "sasl.kerberos.keytab",
              "sensitive" : false
            },
            "topic" : {
              "displayName" : "Topic Name",
              "identifiesControllerService" : false,
              "name" : "topic",
              "sensitive" : false
            },
            "sasl.password" : {
              "displayName" : "Password",
              "identifiesControllerService" : false,
              "name" : "sasl.password",
              "sensitive" : true
            },
            "key-attribute-encoding" : {
              "displayName" : "Key Attribute Encoding",
              "identifiesControllerService" : false,
              "name" : "key-attribute-encoding",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.kafka.pubsub.PublishKafka_2_6",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success" ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.12.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "40227a5b-4e42-3331-8512-143dac52aa1b",
          "identifier" : "e67a05b4-6f93-357c-abe7-3ab07bcc3621",
          "name" : "LogMessage",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 2896.983239608412,
            "y" : 1346.5819992006036
          },
          "properties" : {
            "log-message" : "De-Identified FHIR Bundle returned.",
            "log-level" : "trace"
          },
          "propertyDescriptors" : {
            "log-message" : {
              "displayName" : "Log message",
              "identifiesControllerService" : false,
              "name" : "log-message",
              "sensitive" : false
            },
            "log-level" : {
              "displayName" : "Log Level",
              "identifiesControllerService" : false,
              "name" : "log-level",
              "sensitive" : false
            },
            "log-prefix" : {
              "displayName" : "Log prefix",
              "identifiesControllerService" : false,
              "name" : "log-prefix",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogMessage",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-kafka-2-6-nar",
            "group" : "org.apache.nifi",
            "version" : "1.12.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "40227a5b-4e42-3331-8512-143dac52aa1b",
          "identifier" : "22f030d1-d837-3920-ab44-9dd6a7288ec3",
          "name" : "Listening for Updated Patients",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 2240.983239608412,
            "y" : 1066.5819992006036
          },
          "properties" : {
            "sasl.username" : "#{kafka.auth.user}",
            "max.poll.records" : "10000",
            "group.id" : "Clinical_Ingestion_Group",
            "bootstrap.servers" : "#{kafka-brokers}",
            "topic_type" : "names",
            "security.protocol" : "PLAINTEXT",
            "max-uncommit-offset-wait" : "1 secs",
            "sasl.mechanism" : "PLAIN",
            "sasl.token.auth" : "false",
            "honor-transactions" : "true",
            "Communications Timeout" : "60 secs",
            "topic" : "#{enrich.in}",
            "message-header-encoding" : "UTF-8",
            "sasl.password" : "#{kafka.auth.password}",
            "key-attribute-encoding" : "utf-8",
            "auto.offset.reset" : "earliest"
          },
          "propertyDescriptors" : {
            "header-name-regex" : {
              "displayName" : "Headers to Add as Attributes (Regex)",
              "identifiesControllerService" : false,
              "name" : "header-name-regex",
              "sensitive" : false
            },
            "sasl.username" : {
              "displayName" : "Username",
              "identifiesControllerService" : false,
              "name" : "sasl.username",
              "sensitive" : false
            },
            "max.poll.records" : {
              "displayName" : "Max Poll Records",
              "identifiesControllerService" : false,
              "name" : "max.poll.records",
              "sensitive" : false
            },
            "group.id" : {
              "displayName" : "Group ID",
              "identifiesControllerService" : false,
              "name" : "group.id",
              "sensitive" : false
            },
            "bootstrap.servers" : {
              "displayName" : "Kafka Brokers",
              "identifiesControllerService" : false,
              "name" : "bootstrap.servers",
              "sensitive" : false
            },
            "topic_type" : {
              "displayName" : "Topic Name Format",
              "identifiesControllerService" : false,
              "name" : "topic_type",
              "sensitive" : false
            },
            "sasl.kerberos.principal" : {
              "displayName" : "Kerberos Principal",
              "identifiesControllerService" : false,
              "name" : "sasl.kerberos.principal",
              "sensitive" : false
            },
            "sasl.kerberos.service.name" : {
              "displayName" : "Kerberos Service Name",
              "identifiesControllerService" : false,
              "name" : "sasl.kerberos.service.name",
              "sensitive" : false
            },
            "security.protocol" : {
              "displayName" : "Security Protocol",
              "identifiesControllerService" : false,
              "name" : "security.protocol",
              "sensitive" : false
            },
            "kerberos-credentials-service" : {
              "displayName" : "Kerberos Credentials Service",
              "identifiesControllerService" : true,
              "name" : "kerberos-credentials-service",
              "sensitive" : false
            },
            "ssl.context.service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "ssl.context.service",
              "sensitive" : false
            },
            "max-uncommit-offset-wait" : {
              "displayName" : "Max Uncommitted Time",
              "identifiesControllerService" : false,
              "name" : "max-uncommit-offset-wait",
              "sensitive" : false
            },
            "sasl.mechanism" : {
              "displayName" : "SASL Mechanism",
              "identifiesControllerService" : false,
              "name" : "sasl.mechanism",
              "sensitive" : false
            },
            "sasl.token.auth" : {
              "displayName" : "Token Auth",
              "identifiesControllerService" : false,
              "name" : "sasl.token.auth",
              "sensitive" : false
            },
            "sasl.kerberos.keytab" : {
              "displayName" : "Kerberos Keytab",
              "identifiesControllerService" : false,
              "name" : "sasl.kerberos.keytab",
              "sensitive" : false
            },
            "honor-transactions" : {
              "displayName" : "Honor Transactions",
              "identifiesControllerService" : false,
              "name" : "honor-transactions",
              "sensitive" : false
            },
            "Communications Timeout" : {
              "displayName" : "Communications Timeout",
              "identifiesControllerService" : false,
              "name" : "Communications Timeout",
              "sensitive" : false
            },
            "topic" : {
              "displayName" : "Topic Name(s)",
              "identifiesControllerService" : false,
              "name" : "topic",
              "sensitive" : false
            },
            "message-header-encoding" : {
              "displayName" : "Message Header Encoding",
              "identifiesControllerService" : false,
              "name" : "message-header-encoding",
              "sensitive" : false
            },
            "sasl.password" : {
              "displayName" : "Password",
              "identifiesControllerService" : false,
              "name" : "sasl.password",
              "sensitive" : true
            },
            "message-demarcator" : {
              "displayName" : "Message Demarcator",
              "identifiesControllerService" : false,
              "name" : "message-demarcator",
              "sensitive" : false
            },
            "key-attribute-encoding" : {
              "displayName" : "Key Attribute Encoding",
              "identifiesControllerService" : false,
              "name" : "key-attribute-encoding",
              "sensitive" : false
            },
            "auto.offset.reset" : {
              "displayName" : "Offset Reset",
              "identifiesControllerService" : false,
              "name" : "auto.offset.reset",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.kafka.pubsub.ConsumeKafka_2_6",
          "yieldDuration" : "1 sec"
        } ],
        "remoteProcessGroups" : [ ],
        "variables" : { }
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : {
        "Enrichment Parameter Context" : {
          "name" : "Enrichment Parameter Context",
          "parameters" : [ {
            "description" : "",
            "name" : "enrich.out",
            "sensitive" : false,
            "value" : "patient.enriched.out"
          }, {
            "description" : "",
            "name" : "ResolveTerminology",
            "sensitive" : false,
            "value" : "false"
          }, {
            "description" : "",
            "name" : "kafka-brokers",
            "sensitive" : false,
            "value" : "ingestion-kafka:9092"
          }, {
            "description" : "",
            "name" : "kafka.auth.user",
            "sensitive" : false,
            "value" : "token"
          }, {
            "description" : "",
            "name" : "RunASCVD",
            "sensitive" : false,
            "value" : "false"
          }, {
            "description" : "",
            "name" : "enrich.in",
            "sensitive" : false,
            "value" : "patients.updated.out"
          }, {
            "description" : "",
            "name" : "DeidentifyData",
            "sensitive" : false,
            "value" : "false"
          }, {
            "description" : "",
            "name" : "kafka.auth.password",
            "sensitive" : true
          } ]
        },
        "Clinical Ingestion De-Identification Parameter Context" : {
          "name" : "Clinical Ingestion De-Identification Parameter Context",
          "parameters" : [ {
            "description" : "",
            "name" : "DEID_SERVICE_API_URL",
            "sensitive" : false,
            "value" : "http://ingestion-deid:8080/api/v1"
          }, {
            "description" : "",
            "name" : "DEID_APIKEY",
            "sensitive" : true
          }, {
            "description" : "",
            "name" : "DEID_FHIR_SERVER",
            "sensitive" : false,
            "value" : "http://ingestion-fhir-deid/fhir-server/api/v4"
          }, {
            "description" : "",
            "name" : "DEID_FHIR_PASSWORD",
            "sensitive" : true
          }, {
            "description" : "",
            "name" : "Basic Authentication Password",
            "sensitive" : true
          }, {
            "description" : "",
            "name" : "DEID_FHIR_USER",
            "sensitive" : false,
            "value" : "fhiruser"
          } ]
        },
        "cms_adapter_parameters" : {
          "name" : "cms_adapter_parameters",
          "parameters" : [ {
            "description" : "FHIR api for patient access",
            "name" : "FHIR_URL_PatientAccess",
            "sensitive" : false,
            "value" : "http://ingestion-fhir/fhir-server/api/v4"
          }, {
            "description" : "FHIR server user for Patient Access FHIR URL",
            "name" : "FHIR_User_PatientAccess",
            "sensitive" : false,
            "value" : "fhiruser"
          }, {
            "description" : "Filter for notification topic in environment specified",
            "name" : "kafka.topic.notification",
            "sensitive" : false,
            "value" : "ingest.clinical.notification"
          }, {
            "description" : "FHIR server user for Provider Directory FHIR URL",
            "name" : "FHIR_User_ProviderDirectory",
            "sensitive" : false,
            "value" : "fhiruser"
          }, {
            "description" : "CMSIOP Eventstream user id",
            "name" : "kafka.auth.user",
            "sensitive" : false,
            "value" : "token"
          }, {
            "description" : "FHIR server user credentials for Patient Access FHIR URL",
            "name" : "FHIR_UserPwd_PatientAccess",
            "sensitive" : true
          }, {
            "description" : "Time to wait for batch resources to return from processing before terminating the batch.",
            "name" : "batchProcessingTimeout",
            "sensitive" : false,
            "value" : "10 minutes"
          }, {
            "description" : "FHIR api for provider",
            "name" : "FHIR_URL_ProviderDirectory",
            "sensitive" : false,
            "value" : "http://ingestion-fhir/fhir-server/api/v4"
          }, {
            "description" : "Filter for input topic for the environment specified",
            "name" : "kafka.topic.in",
            "sensitive" : false,
            "value" : "ingest.clinical.in"
          }, {
            "description" : "Specifies the timeout that will be used when the expected number of records in a batch have yet to appear on the kafka topic.",
            "name" : "expectedRecordsTimeout",
            "sensitive" : false,
            "value" : "5 minutes"
          }, {
            "description" : "",
            "name" : "hri.ibm.client.key",
            "sensitive" : false,
            "value" : "fdceaa7b-11fe-4d11-9fbf-6af267beeea9"
          }, {
            "description" : "Set to 'True' to send non-bundle FHIR resources as bundles to the FHIR server for improved performance.",
            "name" : "autoBuildBundles",
            "sensitive" : false,
            "value" : "True"
          }, {
            "description" : "The maximum number of resources to add to a bundle for when autobundling is enabled.",
            "name" : "maxResourcesInBundle",
            "sensitive" : false,
            "value" : "20"
          }, {
            "description" : "Default setting for the FHIR Prefer header setting to enable warnings to be returned for resources with no errors.\n\nValues are: OperationOutcome or minimal\n\nOperationOutcome - returns warnings for resources without errors.\nminimal - returns errors and warnings for resources with errors.",
            "name" : "defaultFHIRPreferHeaderSetting",
            "sensitive" : false,
            "value" : "OperationOutcome"
          }, {
            "description" : "Consumer group used by the pipeline adapters in environment specified",
            "name" : "kafka.consumer.group",
            "sensitive" : false,
            "value" : "Clinical_Ingestion_Group"
          }, {
            "description" : "Comma-delimited list of brokers for eventstream instance",
            "name" : "kafka.brokers",
            "sensitive" : false,
            "value" : "ingestion-kafka:9092"
          }, {
            "description" : "Parameter to control orchestration of batches within tenants.  Used internally in the pipeline",
            "name" : "applicationIdCritRegion",
            "sensitive" : false,
            "value" : "CMS_Interop_FHIR_Adapter_dev"
          }, {
            "description" : "",
            "name" : "clinical.ingestion.listen.port",
            "sensitive" : false,
            "value" : "7001"
          }, {
            "description" : "Used for the GetHriIngestRecords processor.  Needs to be unique per environment.",
            "name" : "kafka.ingest.group",
            "sensitive" : false,
            "value" : "Clinical_Ingestion_Ingest_Group"
          }, {
            "description" : "CMSIOP Eventstreams credentials",
            "name" : "kafka.auth.password",
            "sensitive" : true
          }, {
            "description" : "FHIR server user credentials for Provider Directory FHIR URL",
            "name" : "FHIR_UserPwd_ProviderDirectory",
            "sensitive" : true
          }, {
            "description" : "Endpoint for the HRI instance",
            "name" : "hri.api.endpoint",
            "sensitive" : false,
            "value" : "https://6deb5bcd.us-south.apigw.appdomain.cloud/hri"
          }, {
            "description" : "Filter used for error topics",
            "name" : "kafka.topic.failure",
            "sensitive" : false,
            "value" : "ingest.clinical.error"
          }, {
            "description" : "",
            "name" : "applicationIdIndexBatch",
            "sensitive" : false,
            "value" : "CMS_Interop_Index_Batch_dev"
          } ]
        },
        "ASCVD Parameter Context" : {
          "name" : "ASCVD Parameter Context",
          "parameters" : [ {
            "description" : "",
            "name" : "ASCVD_FROM_FHIR_URL",
            "sensitive" : false,
            "value" : "http://ascvd-from-fhir.integration-k8s-cluster-dcc48c44d831198cb8496b1ec68d7d12-0000.us-south.containers.appdomain.cloud"
          } ]
        }
      }
    }
  }
}