Health_Patterns/FHIR_Bundle_Enrichment.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : { },
      "flowContents" : {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "groupId" : "1f4cfbf9-8415-33ee-88f4-c84c25a9f2be",
            "id" : "cdc6ba33-1bde-3135-ba89-a989435b553b",
            "name" : "Failure",
            "type" : "OUTPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "1f4cfbf9-8415-33ee-88f4-c84c25a9f2be",
          "identifier" : "fa649e04-30e5-3cb8-bd60-3c6407d56f94",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "groupId" : "e8cc5a19-56bf-3544-9096-58afa401a844",
            "id" : "59f220e8-5232-3976-b5df-2816ea6da8a2",
            "name" : "Failure",
            "type" : "OUTPUT_PORT"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "e8cc5a19-56bf-3544-9096-58afa401a844",
            "id" : "fef3ad4b-53db-3879-b4e8-c32a75c336c3",
            "name" : "FHIR resource",
            "type" : "INPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "1f4cfbf9-8415-33ee-88f4-c84c25a9f2be",
          "identifier" : "3746cafa-4908-3847-9159-6ec0587c094e",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "1f4cfbf9-8415-33ee-88f4-c84c25a9f2be",
            "id" : "22f030d1-d837-3920-ab44-9dd6a7288ec3",
            "name" : "Listening for Updated Patients",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "1f4cfbf9-8415-33ee-88f4-c84c25a9f2be",
            "id" : "fe6cb592-1960-3474-9428-af4e2438b6b9",
            "name" : "LogMessage",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "1f4cfbf9-8415-33ee-88f4-c84c25a9f2be",
          "identifier" : "08eb306c-427a-3812-a00a-83aba165da01",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "1f4cfbf9-8415-33ee-88f4-c84c25a9f2be",
            "id" : "c789fe01-dbbe-3d00-89d3-6ca663bb475c",
            "name" : "Publish Enriched Patient",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "groupId" : "1f4cfbf9-8415-33ee-88f4-c84c25a9f2be",
            "id" : "cdc6ba33-1bde-3135-ba89-a989435b553b",
            "name" : "Failure",
            "type" : "OUTPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "1f4cfbf9-8415-33ee-88f4-c84c25a9f2be",
          "identifier" : "3c76d25a-588c-36ba-aeac-474f49cdf3a7",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "1f4cfbf9-8415-33ee-88f4-c84c25a9f2be",
            "id" : "c789fe01-dbbe-3d00-89d3-6ca663bb475c",
            "name" : "Publish Enriched Patient",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : 2752.0,
            "y" : 1384.0
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "1f4cfbf9-8415-33ee-88f4-c84c25a9f2be",
            "id" : "e67a05b4-6f93-357c-abe7-3ab07bcc3621",
            "name" : "LogMessage",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "1f4cfbf9-8415-33ee-88f4-c84c25a9f2be",
          "identifier" : "40f3de73-0cff-35c9-a1eb-0de5f4cf9377",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "comments" : "",
            "groupId" : "e8cc5a19-56bf-3544-9096-58afa401a844",
            "id" : "22182f75-4fb7-34be-afeb-62c56ec96f8f",
            "name" : "DeID FHIR Response",
            "type" : "OUTPUT_PORT"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "1f4cfbf9-8415-33ee-88f4-c84c25a9f2be",
            "id" : "e67a05b4-6f93-357c-abe7-3ab07bcc3621",
            "name" : "LogMessage",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "1f4cfbf9-8415-33ee-88f4-c84c25a9f2be",
          "identifier" : "4d228851-7b9e-3040-a4c5-33e3c7f662d1",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "comments" : "",
            "groupId" : "e8cc5a19-56bf-3544-9096-58afa401a844",
            "id" : "519fb1ad-adc7-310d-921d-ea273ef35367",
            "name" : "DeID FHIR Resource",
            "type" : "OUTPUT_PORT"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "1f4cfbf9-8415-33ee-88f4-c84c25a9f2be",
            "id" : "c789fe01-dbbe-3d00-89d3-6ca663bb475c",
            "name" : "Publish Enriched Patient",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "1f4cfbf9-8415-33ee-88f4-c84c25a9f2be",
          "identifier" : "7411f5f0-ec31-32c6-8ab6-4e0e2125f37c",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "comments" : "",
            "groupId" : "e8cc5a19-56bf-3544-9096-58afa401a844",
            "id" : "c9cb8abf-b552-3031-9e88-8956e555541e",
            "name" : "Enriched FHIR resource",
            "type" : "OUTPUT_PORT"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ ],
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ ],
        "identifier" : "1f4cfbf9-8415-33ee-88f4-c84c25a9f2be",
        "inputPorts" : [ ],
        "labels" : [ {
          "componentType" : "LABEL",
          "groupIdentifier" : "1f4cfbf9-8415-33ee-88f4-c84c25a9f2be",
          "height" : 32.0,
          "identifier" : "22b10441-7d00-3dfa-aebe-063f1a886b11",
          "label" : "enrich.in",
          "position" : {
            "x" : 2632.983239608412,
            "y" : 1098.5819992006036
          },
          "style" : {
            "font-size" : "16px"
          },
          "width" : 152.0
        }, {
          "componentType" : "LABEL",
          "groupIdentifier" : "1f4cfbf9-8415-33ee-88f4-c84c25a9f2be",
          "height" : 32.0,
          "identifier" : "e415c284-4f99-3947-bfeb-13772e87e98f",
          "label" : "enrich.out",
          "position" : {
            "x" : 2656.983239608412,
            "y" : 1706.5819992006036
          },
          "style" : {
            "font-size" : "16px"
          },
          "width" : 160.0
        } ],
        "name" : "Enrich FHIR Data",
        "outputPorts" : [ {
          "allowRemoteAccess" : false,
          "componentType" : "OUTPUT_PORT",
          "concurrentlySchedulableTaskCount" : 1,
          "groupIdentifier" : "1f4cfbf9-8415-33ee-88f4-c84c25a9f2be",
          "identifier" : "cdc6ba33-1bde-3135-ba89-a989435b553b",
          "name" : "Failure",
          "position" : {
            "x" : 1704.9832396084123,
            "y" : 1530.5819992006036
          },
          "type" : "OUTPUT_PORT"
        } ],
        "parameterContextName" : "Enrichment Parameter Context",
        "position" : {
          "x" : 952.0,
          "y" : 208.0
        },
        "processGroups" : [ {
          "comments" : "",
          "componentType" : "PROCESS_GROUP",
          "connections" : [ {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "e8cc5a19-56bf-3544-9096-58afa401a844",
              "id" : "c9cb8abf-b552-3031-9e88-8956e555541e",
              "name" : "Enriched FHIR resource",
              "type" : "OUTPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "e8cc5a19-56bf-3544-9096-58afa401a844",
            "identifier" : "8a688276-589e-3a32-8d97-5768afdbc485",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "de428c9e-fb4f-320f-b556-7b47d1e18084",
              "id" : "1f5f5055-9e5c-3256-8918-b354c885135a",
              "name" : "Output",
              "type" : "OUTPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "e8cc5a19-56bf-3544-9096-58afa401a844",
              "id" : "22182f75-4fb7-34be-afeb-62c56ec96f8f",
              "name" : "DeID FHIR Response",
              "type" : "OUTPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "e8cc5a19-56bf-3544-9096-58afa401a844",
            "identifier" : "59f38207-643d-31d1-a98a-c87361a40cff",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "3ceec2e4-5b00-3eb2-99e7-09f596491da8",
              "id" : "f9f5fa94-6d58-3ae3-b1bf-66a706acafae",
              "name" : "FHIR Response",
              "type" : "OUTPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "groupId" : "e8cc5a19-56bf-3544-9096-58afa401a844",
              "id" : "59f220e8-5232-3976-b5df-2816ea6da8a2",
              "name" : "Failure",
              "type" : "OUTPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "e8cc5a19-56bf-3544-9096-58afa401a844",
            "identifier" : "b68ad56d-8905-34c2-86a1-b6e3bad48331",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "groupId" : "de428c9e-fb4f-320f-b556-7b47d1e18084",
              "id" : "b6ece790-754c-3ce3-9792-8c8c7b038ab2",
              "name" : "Failure",
              "type" : "OUTPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "e8cc5a19-56bf-3544-9096-58afa401a844",
              "id" : "1875c95f-253a-37c5-9589-d3353d5d9af0",
              "name" : "RouteOnAttribute",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "e8cc5a19-56bf-3544-9096-58afa401a844",
            "identifier" : "e50ef71d-4d5a-30b0-a007-b16923bb3c7a",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "unmatched" ],
            "source" : {
              "comments" : "",
              "groupId" : "e8cc5a19-56bf-3544-9096-58afa401a844",
              "id" : "2125f92d-1e70-3f24-bcab-daa5f169b1c0",
              "name" : "RouteOnAttribute",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "e8cc5a19-56bf-3544-9096-58afa401a844",
              "id" : "c9cb8abf-b552-3031-9e88-8956e555541e",
              "name" : "Enriched FHIR resource",
              "type" : "OUTPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "e8cc5a19-56bf-3544-9096-58afa401a844",
            "identifier" : "b13e631e-9e9d-3c65-b542-1bd09c401840",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "unmatched" ],
            "source" : {
              "comments" : "",
              "groupId" : "e8cc5a19-56bf-3544-9096-58afa401a844",
              "id" : "e8b8920f-ddb7-31e1-aac1-b5e88fa36f27",
              "name" : "RouteOnAttribute",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "e8cc5a19-56bf-3544-9096-58afa401a844",
              "id" : "1875c95f-253a-37c5-9589-d3353d5d9af0",
              "name" : "RouteOnAttribute",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "e8cc5a19-56bf-3544-9096-58afa401a844",
            "identifier" : "945a0989-2938-34e4-8279-1373857fe6f5",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "a464ec2d-f6fd-33b6-9fa0-a7392fa815f8",
              "id" : "1f5f5055-9e5c-3256-8918-b354c885135a",
              "name" : "Output",
              "type" : "OUTPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "groupId" : "e8cc5a19-56bf-3544-9096-58afa401a844",
              "id" : "59f220e8-5232-3976-b5df-2816ea6da8a2",
              "name" : "Failure",
              "type" : "OUTPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "e8cc5a19-56bf-3544-9096-58afa401a844",
            "identifier" : "7d00b27d-14fd-3c9b-b612-680d7744323a",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "groupId" : "3ceec2e4-5b00-3eb2-99e7-09f596491da8",
              "id" : "36a7aa41-7b61-36f3-b1b2-5708f8e82f3e",
              "name" : "Failure",
              "type" : "OUTPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "a464ec2d-f6fd-33b6-9fa0-a7392fa815f8",
              "id" : "d257175c-4548-311a-9003-56f9305285a9",
              "name" : "FHIR Resource",
              "type" : "INPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "e8cc5a19-56bf-3544-9096-58afa401a844",
            "identifier" : "45e184e1-cfc9-3341-8321-f94735dde1dc",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "AddNLPInsights" ],
            "source" : {
              "comments" : "",
              "groupId" : "e8cc5a19-56bf-3544-9096-58afa401a844",
              "id" : "2125f92d-1e70-3f24-bcab-daa5f169b1c0",
              "name" : "RouteOnAttribute",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "3ceec2e4-5b00-3eb2-99e7-09f596491da8",
              "id" : "aee62770-b784-3db0-b17e-b8d7c8a97ce2",
              "name" : "FHIR Resource",
              "type" : "INPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "e8cc5a19-56bf-3544-9096-58afa401a844",
            "identifier" : "808a9197-6e88-3f0f-9355-cac82e6fdebc",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "DeidentifyData" ],
            "source" : {
              "comments" : "",
              "groupId" : "e8cc5a19-56bf-3544-9096-58afa401a844",
              "id" : "1875c95f-253a-37c5-9589-d3353d5d9af0",
              "name" : "RouteOnAttribute",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : 1816.0,
              "y" : 568.0
            }, {
              "x" : 1816.0,
              "y" : 1016.0
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "groupId" : "e8cc5a19-56bf-3544-9096-58afa401a844",
              "id" : "59f220e8-5232-3976-b5df-2816ea6da8a2",
              "name" : "Failure",
              "type" : "OUTPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "e8cc5a19-56bf-3544-9096-58afa401a844",
            "identifier" : "1a87b27d-f3be-3435-ba79-41c90e83b5e9",
            "labelIndex" : 0,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "groupId" : "a464ec2d-f6fd-33b6-9fa0-a7392fa815f8",
              "id" : "b6ece790-754c-3ce3-9792-8c8c7b038ab2",
              "name" : "Failure",
              "type" : "OUTPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "e8cc5a19-56bf-3544-9096-58afa401a844",
              "id" : "519fb1ad-adc7-310d-921d-ea273ef35367",
              "name" : "DeID FHIR Resource",
              "type" : "OUTPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "e8cc5a19-56bf-3544-9096-58afa401a844",
            "identifier" : "7e9bb852-61fe-34c3-8c5d-d571d15e89af",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "groupId" : "3ceec2e4-5b00-3eb2-99e7-09f596491da8",
              "id" : "b70a5d82-0603-3a23-b1e2-9ecfc814a794",
              "name" : "De-Identified FHIR Resource",
              "type" : "OUTPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "e8cc5a19-56bf-3544-9096-58afa401a844",
              "id" : "e8b8920f-ddb7-31e1-aac1-b5e88fa36f27",
              "name" : "RouteOnAttribute",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "e8cc5a19-56bf-3544-9096-58afa401a844",
            "identifier" : "4ea12a5c-bd7a-39be-a72d-2554aba8e4b5",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "00b735b9-5103-37f6-8392-09327e6550c8",
              "id" : "1f5f5055-9e5c-3256-8918-b354c885135a",
              "name" : "Output",
              "type" : "OUTPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "groupId" : "e8cc5a19-56bf-3544-9096-58afa401a844",
              "id" : "59f220e8-5232-3976-b5df-2816ea6da8a2",
              "name" : "Failure",
              "type" : "OUTPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "e8cc5a19-56bf-3544-9096-58afa401a844",
            "identifier" : "d7e1bd39-0a58-3a2b-b427-09fa1f469c02",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "groupId" : "00b735b9-5103-37f6-8392-09327e6550c8",
              "id" : "b6ece790-754c-3ce3-9792-8c8c7b038ab2",
              "name" : "Failure",
              "type" : "OUTPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "de428c9e-fb4f-320f-b556-7b47d1e18084",
              "id" : "d257175c-4548-311a-9003-56f9305285a9",
              "name" : "FHIR Resource",
              "type" : "INPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "e8cc5a19-56bf-3544-9096-58afa401a844",
            "identifier" : "2638cfb2-7d41-33f4-9b75-94196a658d5b",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "RunASCVD" ],
            "source" : {
              "comments" : "",
              "groupId" : "e8cc5a19-56bf-3544-9096-58afa401a844",
              "id" : "e8b8920f-ddb7-31e1-aac1-b5e88fa36f27",
              "name" : "RouteOnAttribute",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "e8cc5a19-56bf-3544-9096-58afa401a844",
              "id" : "e8b8920f-ddb7-31e1-aac1-b5e88fa36f27",
              "name" : "RouteOnAttribute",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "e8cc5a19-56bf-3544-9096-58afa401a844",
            "identifier" : "d4205ad2-9e50-3d19-938b-c9c716626d75",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "unmatched" ],
            "source" : {
              "comments" : "",
              "groupId" : "e8cc5a19-56bf-3544-9096-58afa401a844",
              "id" : "f1a1f3a5-2b12-36dd-8f93-63772746b2eb",
              "name" : "RouteOnAttribute",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "00b735b9-5103-37f6-8392-09327e6550c8",
              "id" : "d257175c-4548-311a-9003-56f9305285a9",
              "name" : "FHIR Resource",
              "type" : "INPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "e8cc5a19-56bf-3544-9096-58afa401a844",
            "identifier" : "b49281af-d615-3672-88d5-d3aace8acb7b",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "ResolveTerminology" ],
            "source" : {
              "comments" : "",
              "groupId" : "e8cc5a19-56bf-3544-9096-58afa401a844",
              "id" : "f1a1f3a5-2b12-36dd-8f93-63772746b2eb",
              "name" : "RouteOnAttribute",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "e8cc5a19-56bf-3544-9096-58afa401a844",
              "id" : "f1a1f3a5-2b12-36dd-8f93-63772746b2eb",
              "name" : "RouteOnAttribute",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "e8cc5a19-56bf-3544-9096-58afa401a844",
            "identifier" : "2ed273bc-736c-3eff-abe9-70604cdea319",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "DeidentifyData", "unmatched" ],
            "source" : {
              "comments" : "",
              "groupId" : "e8cc5a19-56bf-3544-9096-58afa401a844",
              "id" : "1875c95f-253a-37c5-9589-d3353d5d9af0",
              "name" : "RouteOnAttribute",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "e8cc5a19-56bf-3544-9096-58afa401a844",
              "id" : "2125f92d-1e70-3f24-bcab-daa5f169b1c0",
              "name" : "RouteOnAttribute",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "e8cc5a19-56bf-3544-9096-58afa401a844",
            "identifier" : "66efc5d7-fdcc-3543-9ceb-8285b11a3f6e",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "e8cc5a19-56bf-3544-9096-58afa401a844",
              "id" : "fef3ad4b-53db-3879-b4e8-c32a75c336c3",
              "name" : "FHIR resource",
              "type" : "INPUT_PORT"
            },
            "zIndex" : 0
          } ],
          "controllerServices" : [ ],
          "flowFileConcurrency" : "UNBOUNDED",
          "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
          "funnels" : [ ],
          "groupIdentifier" : "1f4cfbf9-8415-33ee-88f4-c84c25a9f2be",
          "identifier" : "e8cc5a19-56bf-3544-9096-58afa401a844",
          "inputPorts" : [ {
            "allowRemoteAccess" : false,
            "comments" : "",
            "componentType" : "INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "e8cc5a19-56bf-3544-9096-58afa401a844",
            "identifier" : "fef3ad4b-53db-3879-b4e8-c32a75c336c3",
            "name" : "FHIR resource",
            "position" : {
              "x" : 352.0,
              "y" : 288.0
            },
            "type" : "INPUT_PORT"
          } ],
          "labels" : [ {
            "componentType" : "LABEL",
            "groupIdentifier" : "e8cc5a19-56bf-3544-9096-58afa401a844",
            "height" : 208.0,
            "identifier" : "14e0eb82-8386-3c2a-8590-c93537146f9d",
            "label" : "Run through ASCVD",
            "position" : {
              "x" : 272.0,
              "y" : 1344.0
            },
            "style" : {
              "background-color" : "#203485",
              "font-size" : "18px"
            },
            "width" : 1040.0
          }, {
            "componentType" : "LABEL",
            "groupIdentifier" : "e8cc5a19-56bf-3544-9096-58afa401a844",
            "height" : 208.0,
            "identifier" : "69981757-89b9-3882-815b-42d6fad5b582",
            "label" : "Add NLP Insights",
            "position" : {
              "x" : 272.0,
              "y" : 464.0
            },
            "style" : {
              "background-color" : "#387a4c",
              "font-size" : "18px"
            },
            "width" : 1040.0
          }, {
            "componentType" : "LABEL",
            "groupIdentifier" : "e8cc5a19-56bf-3544-9096-58afa401a844",
            "height" : 208.0,
            "identifier" : "991f820b-5f2f-33c5-ae31-b9cb62b95e5d",
            "label" : "De-identify data",
            "position" : {
              "x" : 272.0,
              "y" : 752.0
            },
            "style" : {
              "background-color" : "#be2633",
              "font-size" : "18px"
            },
            "width" : 1040.0
          }, {
            "componentType" : "LABEL",
            "groupIdentifier" : "e8cc5a19-56bf-3544-9096-58afa401a844",
            "height" : 208.0,
            "identifier" : "a6282a9f-de32-344e-b71f-c69e42c244f7",
            "label" : "Run through Terminology Service",
            "position" : {
              "x" : 272.0,
              "y" : 1040.0
            },
            "style" : {
              "background-color" : "#eb8931",
              "font-size" : "18px"
            },
            "width" : 1040.0
          } ],
          "name" : "Enrich FHIR Data",
          "outputPorts" : [ {
            "allowRemoteAccess" : false,
            "comments" : "",
            "componentType" : "OUTPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "e8cc5a19-56bf-3544-9096-58afa401a844",
            "identifier" : "519fb1ad-adc7-310d-921d-ea273ef35367",
            "name" : "DeID FHIR Resource",
            "position" : {
              "x" : 1520.0,
              "y" : 744.0
            },
            "type" : "OUTPUT_PORT"
          }, {
            "allowRemoteAccess" : false,
            "comments" : "",
            "componentType" : "OUTPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "e8cc5a19-56bf-3544-9096-58afa401a844",
            "identifier" : "22182f75-4fb7-34be-afeb-62c56ec96f8f",
            "name" : "DeID FHIR Response",
            "position" : {
              "x" : 1528.0,
              "y" : 856.0
            },
            "type" : "OUTPUT_PORT"
          }, {
            "allowRemoteAccess" : false,
            "comments" : "",
            "componentType" : "OUTPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "e8cc5a19-56bf-3544-9096-58afa401a844",
            "identifier" : "c9cb8abf-b552-3031-9e88-8956e555541e",
            "name" : "Enriched FHIR resource",
            "position" : {
              "x" : 656.0,
              "y" : 1672.0
            },
            "type" : "OUTPUT_PORT"
          }, {
            "allowRemoteAccess" : false,
            "componentType" : "OUTPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "e8cc5a19-56bf-3544-9096-58afa401a844",
            "identifier" : "59f220e8-5232-3976-b5df-2816ea6da8a2",
            "name" : "Failure",
            "position" : {
              "x" : 1536.0,
              "y" : 1112.0
            },
            "type" : "OUTPUT_PORT"
          } ],
          "parameterContextName" : "Enrichment Parameter Context",
          "position" : {
            "x" : 2232.0,
            "y" : 1368.0
          },
          "processGroups" : [ {
            "comments" : "",
            "componentType" : "PROCESS_GROUP",
            "connections" : [ {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "a464ec2d-f6fd-33b6-9fa0-a7392fa815f8",
                "id" : "1f5f5055-9e5c-3256-8918-b354c885135a",
                "name" : "Output",
                "type" : "OUTPUT_PORT"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "a464ec2d-f6fd-33b6-9fa0-a7392fa815f8",
              "identifier" : "1b10ab6e-c21a-35b6-8666-b51127c8bfb7",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "Success" ],
              "source" : {
                "comments" : "",
                "groupId" : "a464ec2d-f6fd-33b6-9fa0-a7392fa815f8",
                "id" : "95c2cbe8-a8ea-35ab-be23-1b9dea39e83f",
                "name" : "Route On HTTP Status Code",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "groupId" : "a464ec2d-f6fd-33b6-9fa0-a7392fa815f8",
                "id" : "b6ece790-754c-3ce3-9792-8c8c7b038ab2",
                "name" : "Failure",
                "type" : "OUTPUT_PORT"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "a464ec2d-f6fd-33b6-9fa0-a7392fa815f8",
              "identifier" : "f1060b11-8197-3d76-ae77-26d6cfb0ce7a",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "unmatched" ],
              "source" : {
                "comments" : "",
                "groupId" : "a464ec2d-f6fd-33b6-9fa0-a7392fa815f8",
                "id" : "95c2cbe8-a8ea-35ab-be23-1b9dea39e83f",
                "name" : "Route On HTTP Status Code",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ {
                "x" : 1280.0,
                "y" : 336.0
              } ],
              "componentType" : "CONNECTION",
              "destination" : {
                "groupId" : "a464ec2d-f6fd-33b6-9fa0-a7392fa815f8",
                "id" : "b6ece790-754c-3ce3-9792-8c8c7b038ab2",
                "name" : "Failure",
                "type" : "OUTPUT_PORT"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "a464ec2d-f6fd-33b6-9fa0-a7392fa815f8",
              "identifier" : "b1dd0d82-5542-32fb-9966-560fcb38714e",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "No Retry", "Retry", "Failure" ],
              "source" : {
                "comments" : "",
                "groupId" : "a464ec2d-f6fd-33b6-9fa0-a7392fa815f8",
                "id" : "c1d3d962-e9d1-36b5-81c1-8933de1c2e91",
                "name" : "Run NLP Insights Service",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "a464ec2d-f6fd-33b6-9fa0-a7392fa815f8",
                "id" : "95c2cbe8-a8ea-35ab-be23-1b9dea39e83f",
                "name" : "Route On HTTP Status Code",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "a464ec2d-f6fd-33b6-9fa0-a7392fa815f8",
              "identifier" : "ef433c89-44b7-3074-a292-06401597bb96",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "Response" ],
              "source" : {
                "comments" : "",
                "groupId" : "a464ec2d-f6fd-33b6-9fa0-a7392fa815f8",
                "id" : "c1d3d962-e9d1-36b5-81c1-8933de1c2e91",
                "name" : "Run NLP Insights Service",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "a464ec2d-f6fd-33b6-9fa0-a7392fa815f8",
                "id" : "c1d3d962-e9d1-36b5-81c1-8933de1c2e91",
                "name" : "Run NLP Insights Service",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "a464ec2d-f6fd-33b6-9fa0-a7392fa815f8",
              "identifier" : "12d85fc9-f95a-335d-bce5-5d5383a08bcf",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "" ],
              "source" : {
                "comments" : "",
                "groupId" : "a464ec2d-f6fd-33b6-9fa0-a7392fa815f8",
                "id" : "d257175c-4548-311a-9003-56f9305285a9",
                "name" : "FHIR Resource",
                "type" : "INPUT_PORT"
              },
              "zIndex" : 0
            } ],
            "controllerServices" : [ ],
            "flowFileConcurrency" : "UNBOUNDED",
            "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
            "funnels" : [ ],
            "groupIdentifier" : "e8cc5a19-56bf-3544-9096-58afa401a844",
            "identifier" : "a464ec2d-f6fd-33b6-9fa0-a7392fa815f8",
            "inputPorts" : [ {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "a464ec2d-f6fd-33b6-9fa0-a7392fa815f8",
              "identifier" : "d257175c-4548-311a-9003-56f9305285a9",
              "name" : "FHIR Resource",
              "position" : {
                "x" : 832.0,
                "y" : -88.0
              },
              "type" : "INPUT_PORT"
            } ],
            "labels" : [ ],
            "name" : "Add NLP Insights",
            "outputPorts" : [ {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "OUTPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "a464ec2d-f6fd-33b6-9fa0-a7392fa815f8",
              "identifier" : "1f5f5055-9e5c-3256-8918-b354c885135a",
              "name" : "Output",
              "position" : {
                "x" : 568.0,
                "y" : 600.0
              },
              "type" : "OUTPUT_PORT"
            }, {
              "allowRemoteAccess" : false,
              "componentType" : "OUTPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "a464ec2d-f6fd-33b6-9fa0-a7392fa815f8",
              "identifier" : "b6ece790-754c-3ce3-9792-8c8c7b038ab2",
              "name" : "Failure",
              "position" : {
                "x" : 1160.0,
                "y" : 600.0
              },
              "type" : "OUTPUT_PORT"
            } ],
            "parameterContextName" : "Enrichment Parameter Context",
            "position" : {
              "x" : 904.0,
              "y" : 480.0
            },
            "processGroups" : [ ],
            "processors" : [ {
              "autoTerminatedRelationships" : [ ],
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "nifi-standard-nar",
                "group" : "org.apache.nifi",
                "version" : "1.12.1"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "a464ec2d-f6fd-33b6-9fa0-a7392fa815f8",
              "identifier" : "95c2cbe8-a8ea-35ab-be23-1b9dea39e83f",
              "name" : "Route On HTTP Status Code",
              "penaltyDuration" : "30 sec",
              "position" : {
                "x" : 776.0,
                "y" : 296.0
              },
              "properties" : {
                "Routing Strategy" : "Route to Property name",
                "Success" : "${invokehttp.status.code:equals('200')}"
              },
              "propertyDescriptors" : {
                "Routing Strategy" : {
                  "displayName" : "Routing Strategy",
                  "identifiesControllerService" : false,
                  "name" : "Routing Strategy",
                  "sensitive" : false
                },
                "Success" : {
                  "displayName" : "Success",
                  "identifiesControllerService" : false,
                  "name" : "Success",
                  "sensitive" : false
                }
              },
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : { },
              "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ "Original" ],
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "nifi-standard-nar",
                "group" : "org.apache.nifi",
                "version" : "1.12.1"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "a464ec2d-f6fd-33b6-9fa0-a7392fa815f8",
              "identifier" : "c1d3d962-e9d1-36b5-81c1-8933de1c2e91",
              "name" : "Run NLP Insights Service",
              "penaltyDuration" : "30 sec",
              "position" : {
                "x" : 776.0,
                "y" : 48.0
              },
              "properties" : {
                "use-etag" : "false",
                "Proxy Type" : "http",
                "Connection Timeout" : "5 secs",
                "send-message-body" : "true",
                "set-form-filename" : "true",
                "Always Output Response" : "false",
                "etag-max-cache-size" : "10MB",
                "idle-timeout" : "5 mins",
                "Use Chunked Encoding" : "false",
                "Follow Redirects" : "True",
                "Remote URL" : "#{ADD_NLP_INSIGHTS_URL}/process",
                "Content-Type" : "${mime.type}",
                "max-idle-connections" : "5",
                "Read Timeout" : "15 secs",
                "Max Length To Put In Attribute" : "256",
                "ignore-response-content" : "false",
                "Digest Authentication" : "false",
                "HTTP Method" : "POST",
                "Add Response Headers to Request" : "false",
                "Include Date Header" : "True",
                "Penalize on \"No Retry\"" : "false"
              },
              "propertyDescriptors" : {
                "Proxy Host" : {
                  "displayName" : "Proxy Host",
                  "identifiesControllerService" : false,
                  "name" : "Proxy Host",
                  "sensitive" : false
                },
                "Attributes to Send" : {
                  "displayName" : "Attributes to Send",
                  "identifiesControllerService" : false,
                  "name" : "Attributes to Send",
                  "sensitive" : false
                },
                "use-etag" : {
                  "displayName" : "Use HTTP ETag",
                  "identifiesControllerService" : false,
                  "name" : "use-etag",
                  "sensitive" : false
                },
                "proxy-configuration-service" : {
                  "displayName" : "Proxy Configuration Service",
                  "identifiesControllerService" : true,
                  "name" : "proxy-configuration-service",
                  "sensitive" : false
                },
                "Proxy Type" : {
                  "displayName" : "Proxy Type",
                  "identifiesControllerService" : false,
                  "name" : "Proxy Type",
                  "sensitive" : false
                },
                "Basic Authentication Password" : {
                  "displayName" : "Basic Authentication Password",
                  "identifiesControllerService" : false,
                  "name" : "Basic Authentication Password",
                  "sensitive" : true
                },
                "Connection Timeout" : {
                  "displayName" : "Connection Timeout",
                  "identifiesControllerService" : false,
                  "name" : "Connection Timeout",
                  "sensitive" : false
                },
                "send-message-body" : {
                  "displayName" : "Send Message Body",
                  "identifiesControllerService" : false,
                  "name" : "send-message-body",
                  "sensitive" : false
                },
                "set-form-filename" : {
                  "displayName" : "Set Flowfile Form Data File Name",
                  "identifiesControllerService" : false,
                  "name" : "set-form-filename",
                  "sensitive" : false
                },
                "Always Output Response" : {
                  "displayName" : "Always Output Response",
                  "identifiesControllerService" : false,
                  "name" : "Always Output Response",
                  "sensitive" : false
                },
                "etag-max-cache-size" : {
                  "displayName" : "Maximum ETag Cache Size",
                  "identifiesControllerService" : false,
                  "name" : "etag-max-cache-size",
                  "sensitive" : false
                },
                "idle-timeout" : {
                  "displayName" : "Idle Timeout",
                  "identifiesControllerService" : false,
                  "name" : "idle-timeout",
                  "sensitive" : false
                },
                "Put Response Body In Attribute" : {
                  "displayName" : "Put Response Body In Attribute",
                  "identifiesControllerService" : false,
                  "name" : "Put Response Body In Attribute",
                  "sensitive" : false
                },
                "Use Chunked Encoding" : {
                  "displayName" : "Use Chunked Encoding",
                  "identifiesControllerService" : false,
                  "name" : "Use Chunked Encoding",
                  "sensitive" : false
                },
                "Follow Redirects" : {
                  "displayName" : "Follow Redirects",
                  "identifiesControllerService" : false,
                  "name" : "Follow Redirects",
                  "sensitive" : false
                },
                "Remote URL" : {
                  "displayName" : "Remote URL",
                  "identifiesControllerService" : false,
                  "name" : "Remote URL",
                  "sensitive" : false
                },
                "Content-Type" : {
                  "displayName" : "Content-Type",
                  "identifiesControllerService" : false,
                  "name" : "Content-Type",
                  "sensitive" : false
                },
                "form-body-form-name" : {
                  "displayName" : "Flowfile Form Data Name",
                  "identifiesControllerService" : false,
                  "name" : "form-body-form-name",
                  "sensitive" : false
                },
                "max-idle-connections" : {
                  "displayName" : "Max Idle Connections",
                  "identifiesControllerService" : false,
                  "name" : "max-idle-connections",
                  "sensitive" : false
                },
                "invokehttp-proxy-user" : {
                  "displayName" : "Proxy Username",
                  "identifiesControllerService" : false,
                  "name" : "invokehttp-proxy-user",
                  "sensitive" : false
                },
                "Read Timeout" : {
                  "displayName" : "Read Timeout",
                  "identifiesControllerService" : false,
                  "name" : "Read Timeout",
                  "sensitive" : false
                },
                "Max Length To Put In Attribute" : {
                  "displayName" : "Max Length To Put In Attribute",
                  "identifiesControllerService" : false,
                  "name" : "Max Length To Put In Attribute",
                  "sensitive" : false
                },
                "invokehttp-proxy-password" : {
                  "displayName" : "Proxy Password",
                  "identifiesControllerService" : false,
                  "name" : "invokehttp-proxy-password",
                  "sensitive" : true
                },
                "ignore-response-content" : {
                  "displayName" : "Ignore response's content",
                  "identifiesControllerService" : false,
                  "name" : "ignore-response-content",
                  "sensitive" : false
                },
                "Proxy Port" : {
                  "displayName" : "Proxy Port",
                  "identifiesControllerService" : false,
                  "name" : "Proxy Port",
                  "sensitive" : false
                },
                "SSL Context Service" : {
                  "displayName" : "SSL Context Service",
                  "identifiesControllerService" : true,
                  "name" : "SSL Context Service",
                  "sensitive" : false
                },
                "Digest Authentication" : {
                  "displayName" : "Use Digest Authentication",
                  "identifiesControllerService" : false,
                  "name" : "Digest Authentication",
                  "sensitive" : false
                },
                "HTTP Method" : {
                  "displayName" : "HTTP Method",
                  "identifiesControllerService" : false,
                  "name" : "HTTP Method",
                  "sensitive" : false
                },
                "Add Response Headers to Request" : {
                  "displayName" : "Add Response Headers to Request",
                  "identifiesControllerService" : false,
                  "name" : "Add Response Headers to Request",
                  "sensitive" : false
                },
                "Basic Authentication Username" : {
                  "displayName" : "Basic Authentication Username",
                  "identifiesControllerService" : false,
                  "name" : "Basic Authentication Username",
                  "sensitive" : false
                },
                "Include Date Header" : {
                  "displayName" : "Include Date Header",
                  "identifiesControllerService" : false,
                  "name" : "Include Date Header",
                  "sensitive" : false
                },
                "Penalize on \"No Retry\"" : {
                  "displayName" : "Penalize on \"No Retry\"",
                  "identifiesControllerService" : false,
                  "name" : "Penalize on \"No Retry\"",
                  "sensitive" : false
                },
                "Useragent" : {
                  "displayName" : "Useragent",
                  "identifiesControllerService" : false,
                  "name" : "Useragent",
                  "sensitive" : false
                }
              },
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : { },
              "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
              "yieldDuration" : "1 sec"
            } ],
            "remoteProcessGroups" : [ ],
            "variables" : { }
          }, {
            "comments" : "",
            "componentType" : "PROCESS_GROUP",
            "connections" : [ {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "3ceec2e4-5b00-3eb2-99e7-09f596491da8",
                "id" : "6e2c3cf7-8b41-3bcf-809d-459f81ffff06",
                "name" : "RouteOnAttribute",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "3ceec2e4-5b00-3eb2-99e7-09f596491da8",
              "identifier" : "9ae25684-6d91-3d37-a207-dc588b071a60",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "Response" ],
              "source" : {
                "comments" : "",
                "groupId" : "3ceec2e4-5b00-3eb2-99e7-09f596491da8",
                "id" : "73cacc40-a805-35a9-8bdb-8baf9c3b1249",
                "name" : "InvokeHTTP",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "3ceec2e4-5b00-3eb2-99e7-09f596491da8",
                "id" : "f9f5fa94-6d58-3ae3-b1bf-66a706acafae",
                "name" : "FHIR Response",
                "type" : "OUTPUT_PORT"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "3ceec2e4-5b00-3eb2-99e7-09f596491da8",
              "identifier" : "39cdac38-cd3d-3b66-be3a-f3d3584a6aca",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "Original" ],
              "source" : {
                "comments" : "",
                "groupId" : "3ceec2e4-5b00-3eb2-99e7-09f596491da8",
                "id" : "73cacc40-a805-35a9-8bdb-8baf9c3b1249",
                "name" : "InvokeHTTP",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "groupId" : "3ceec2e4-5b00-3eb2-99e7-09f596491da8",
                "id" : "b70a5d82-0603-3a23-b1e2-9ecfc814a794",
                "name" : "De-Identified FHIR Resource",
                "type" : "OUTPUT_PORT"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "3ceec2e4-5b00-3eb2-99e7-09f596491da8",
              "identifier" : "9d6bc1c1-0a92-3290-acfe-0bc34c6b9e8f",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "Success" ],
              "source" : {
                "comments" : "",
                "groupId" : "3ceec2e4-5b00-3eb2-99e7-09f596491da8",
                "id" : "6e2c3cf7-8b41-3bcf-809d-459f81ffff06",
                "name" : "RouteOnAttribute",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "3ceec2e4-5b00-3eb2-99e7-09f596491da8",
                "id" : "73cacc40-a805-35a9-8bdb-8baf9c3b1249",
                "name" : "InvokeHTTP",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "3ceec2e4-5b00-3eb2-99e7-09f596491da8",
              "identifier" : "cb90366a-3d53-3c5e-8df0-dd9d9797aa80",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "" ],
              "source" : {
                "comments" : "",
                "groupId" : "3ceec2e4-5b00-3eb2-99e7-09f596491da8",
                "id" : "aee62770-b784-3db0-b17e-b8d7c8a97ce2",
                "name" : "FHIR Resource",
                "type" : "INPUT_PORT"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "groupId" : "3ceec2e4-5b00-3eb2-99e7-09f596491da8",
                "id" : "36a7aa41-7b61-36f3-b1b2-5708f8e82f3e",
                "name" : "Failure",
                "type" : "OUTPUT_PORT"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "3ceec2e4-5b00-3eb2-99e7-09f596491da8",
              "identifier" : "c7638529-4328-32a9-baf1-d05232d00e1c",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "unmatched" ],
              "source" : {
                "comments" : "",
                "groupId" : "3ceec2e4-5b00-3eb2-99e7-09f596491da8",
                "id" : "6e2c3cf7-8b41-3bcf-809d-459f81ffff06",
                "name" : "RouteOnAttribute",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ {
                "x" : 1032.0,
                "y" : -56.0
              } ],
              "componentType" : "CONNECTION",
              "destination" : {
                "groupId" : "3ceec2e4-5b00-3eb2-99e7-09f596491da8",
                "id" : "36a7aa41-7b61-36f3-b1b2-5708f8e82f3e",
                "name" : "Failure",
                "type" : "OUTPUT_PORT"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "3ceec2e4-5b00-3eb2-99e7-09f596491da8",
              "identifier" : "033da377-0e76-3851-9896-8fec1184e591",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "No Retry", "Retry", "Failure" ],
              "source" : {
                "comments" : "",
                "groupId" : "3ceec2e4-5b00-3eb2-99e7-09f596491da8",
                "id" : "73cacc40-a805-35a9-8bdb-8baf9c3b1249",
                "name" : "InvokeHTTP",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            } ],
            "controllerServices" : [ ],
            "flowFileConcurrency" : "UNBOUNDED",
            "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
            "funnels" : [ ],
            "groupIdentifier" : "e8cc5a19-56bf-3544-9096-58afa401a844",
            "identifier" : "3ceec2e4-5b00-3eb2-99e7-09f596491da8",
            "inputPorts" : [ {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "3ceec2e4-5b00-3eb2-99e7-09f596491da8",
              "identifier" : "aee62770-b784-3db0-b17e-b8d7c8a97ce2",
              "name" : "FHIR Resource",
              "position" : {
                "x" : 264.0,
                "y" : -264.0
              },
              "type" : "INPUT_PORT"
            } ],
            "labels" : [ ],
            "name" : "De-identify Patient Data",
            "outputPorts" : [ {
              "allowRemoteAccess" : false,
              "componentType" : "OUTPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "3ceec2e4-5b00-3eb2-99e7-09f596491da8",
              "identifier" : "36a7aa41-7b61-36f3-b1b2-5708f8e82f3e",
              "name" : "Failure",
              "position" : {
                "x" : 912.0,
                "y" : 336.0
              },
              "type" : "OUTPUT_PORT"
            }, {
              "allowRemoteAccess" : false,
              "componentType" : "OUTPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "3ceec2e4-5b00-3eb2-99e7-09f596491da8",
              "identifier" : "b70a5d82-0603-3a23-b1e2-9ecfc814a794",
              "name" : "De-Identified FHIR Resource",
              "position" : {
                "x" : 416.0,
                "y" : 336.0
              },
              "type" : "OUTPUT_PORT"
            }, {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "OUTPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "3ceec2e4-5b00-3eb2-99e7-09f596491da8",
              "identifier" : "f9f5fa94-6d58-3ae3-b1bf-66a706acafae",
              "name" : "FHIR Response",
              "position" : {
                "x" : -32.0,
                "y" : 336.0
              },
              "type" : "OUTPUT_PORT"
            } ],
            "parameterContextName" : "Enrichment Parameter Context",
            "position" : {
              "x" : 896.0,
              "y" : 768.0
            },
            "processGroups" : [ ],
            "processors" : [ {
              "autoTerminatedRelationships" : [ ],
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "nifi-standard-nar",
                "group" : "org.apache.nifi",
                "version" : "1.12.1"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "3ceec2e4-5b00-3eb2-99e7-09f596491da8",
              "identifier" : "73cacc40-a805-35a9-8bdb-8baf9c3b1249",
              "name" : "InvokeHTTP",
              "penaltyDuration" : "30 sec",
              "position" : {
                "x" : 208.0,
                "y" : -120.0
              },
              "properties" : {
                "use-etag" : "false",
                "Proxy Type" : "http",
                "Connection Timeout" : "5 secs",
                "send-message-body" : "true",
                "set-form-filename" : "true",
                "Always Output Response" : "false",
                "etag-max-cache-size" : "10MB",
                "idle-timeout" : "5 mins",
                "Use Chunked Encoding" : "false",
                "Follow Redirects" : "True",
                "Remote URL" : "#{DEID_PREP_URL}?configName=#{DEID_CONFIG_NAME}&pushToFHIR=#{DEID_PUSH_TO_FHIR}",
                "Content-Type" : "${mime.type}",
                "max-idle-connections" : "5",
                "Read Timeout" : "15 secs",
                "Max Length To Put In Attribute" : "256",
                "ignore-response-content" : "false",
                "Digest Authentication" : "false",
                "HTTP Method" : "POST",
                "Add Response Headers to Request" : "false",
                "Include Date Header" : "True",
                "Penalize on \"No Retry\"" : "false"
              },
              "propertyDescriptors" : {
                "Proxy Host" : {
                  "displayName" : "Proxy Host",
                  "identifiesControllerService" : false,
                  "name" : "Proxy Host",
                  "sensitive" : false
                },
                "Attributes to Send" : {
                  "displayName" : "Attributes to Send",
                  "identifiesControllerService" : false,
                  "name" : "Attributes to Send",
                  "sensitive" : false
                },
                "use-etag" : {
                  "displayName" : "Use HTTP ETag",
                  "identifiesControllerService" : false,
                  "name" : "use-etag",
                  "sensitive" : false
                },
                "proxy-configuration-service" : {
                  "displayName" : "Proxy Configuration Service",
                  "identifiesControllerService" : true,
                  "name" : "proxy-configuration-service",
                  "sensitive" : false
                },
                "Proxy Type" : {
                  "displayName" : "Proxy Type",
                  "identifiesControllerService" : false,
                  "name" : "Proxy Type",
                  "sensitive" : false
                },
                "Basic Authentication Password" : {
                  "displayName" : "Basic Authentication Password",
                  "identifiesControllerService" : false,
                  "name" : "Basic Authentication Password",
                  "sensitive" : true
                },
                "Connection Timeout" : {
                  "displayName" : "Connection Timeout",
                  "identifiesControllerService" : false,
                  "name" : "Connection Timeout",
                  "sensitive" : false
                },
                "send-message-body" : {
                  "displayName" : "Send Message Body",
                  "identifiesControllerService" : false,
                  "name" : "send-message-body",
                  "sensitive" : false
                },
                "set-form-filename" : {
                  "displayName" : "Set Flowfile Form Data File Name",
                  "identifiesControllerService" : false,
                  "name" : "set-form-filename",
                  "sensitive" : false
                },
                "Always Output Response" : {
                  "displayName" : "Always Output Response",
                  "identifiesControllerService" : false,
                  "name" : "Always Output Response",
                  "sensitive" : false
                },
                "etag-max-cache-size" : {
                  "displayName" : "Maximum ETag Cache Size",
                  "identifiesControllerService" : false,
                  "name" : "etag-max-cache-size",
                  "sensitive" : false
                },
                "idle-timeout" : {
                  "displayName" : "Idle Timeout",
                  "identifiesControllerService" : false,
                  "name" : "idle-timeout",
                  "sensitive" : false
                },
                "Put Response Body In Attribute" : {
                  "displayName" : "Put Response Body In Attribute",
                  "identifiesControllerService" : false,
                  "name" : "Put Response Body In Attribute",
                  "sensitive" : false
                },
                "Use Chunked Encoding" : {
                  "displayName" : "Use Chunked Encoding",
                  "identifiesControllerService" : false,
                  "name" : "Use Chunked Encoding",
                  "sensitive" : false
                },
                "Follow Redirects" : {
                  "displayName" : "Follow Redirects",
                  "identifiesControllerService" : false,
                  "name" : "Follow Redirects",
                  "sensitive" : false
                },
                "Remote URL" : {
                  "displayName" : "Remote URL",
                  "identifiesControllerService" : false,
                  "name" : "Remote URL",
                  "sensitive" : false
                },
                "Content-Type" : {
                  "displayName" : "Content-Type",
                  "identifiesControllerService" : false,
                  "name" : "Content-Type",
                  "sensitive" : false
                },
                "form-body-form-name" : {
                  "displayName" : "Flowfile Form Data Name",
                  "identifiesControllerService" : false,
                  "name" : "form-body-form-name",
                  "sensitive" : false
                },
                "max-idle-connections" : {
                  "displayName" : "Max Idle Connections",
                  "identifiesControllerService" : false,
                  "name" : "max-idle-connections",
                  "sensitive" : false
                },
                "invokehttp-proxy-user" : {
                  "displayName" : "Proxy Username",
                  "identifiesControllerService" : false,
                  "name" : "invokehttp-proxy-user",
                  "sensitive" : false
                },
                "Read Timeout" : {
                  "displayName" : "Read Timeout",
                  "identifiesControllerService" : false,
                  "name" : "Read Timeout",
                  "sensitive" : false
                },
                "Max Length To Put In Attribute" : {
                  "displayName" : "Max Length To Put In Attribute",
                  "identifiesControllerService" : false,
                  "name" : "Max Length To Put In Attribute",
                  "sensitive" : false
                },
                "invokehttp-proxy-password" : {
                  "displayName" : "Proxy Password",
                  "identifiesControllerService" : false,
                  "name" : "invokehttp-proxy-password",
                  "sensitive" : true
                },
                "ignore-response-content" : {
                  "displayName" : "Ignore response's content",
                  "identifiesControllerService" : false,
                  "name" : "ignore-response-content",
                  "sensitive" : false
                },
                "Proxy Port" : {
                  "displayName" : "Proxy Port",
                  "identifiesControllerService" : false,
                  "name" : "Proxy Port",
                  "sensitive" : false
                },
                "SSL Context Service" : {
                  "displayName" : "SSL Context Service",
                  "identifiesControllerService" : true,
                  "name" : "SSL Context Service",
                  "sensitive" : false
                },
                "Digest Authentication" : {
                  "displayName" : "Use Digest Authentication",
                  "identifiesControllerService" : false,
                  "name" : "Digest Authentication",
                  "sensitive" : false
                },
                "HTTP Method" : {
                  "displayName" : "HTTP Method",
                  "identifiesControllerService" : false,
                  "name" : "HTTP Method",
                  "sensitive" : false
                },
                "Add Response Headers to Request" : {
                  "displayName" : "Add Response Headers to Request",
                  "identifiesControllerService" : false,
                  "name" : "Add Response Headers to Request",
                  "sensitive" : false
                },
                "Basic Authentication Username" : {
                  "displayName" : "Basic Authentication Username",
                  "identifiesControllerService" : false,
                  "name" : "Basic Authentication Username",
                  "sensitive" : false
                },
                "Include Date Header" : {
                  "displayName" : "Include Date Header",
                  "identifiesControllerService" : false,
                  "name" : "Include Date Header",
                  "sensitive" : false
                },
                "Penalize on \"No Retry\"" : {
                  "displayName" : "Penalize on \"No Retry\"",
                  "identifiesControllerService" : false,
                  "name" : "Penalize on \"No Retry\"",
                  "sensitive" : false
                },
                "Useragent" : {
                  "displayName" : "Useragent",
                  "identifiesControllerService" : false,
                  "name" : "Useragent",
                  "sensitive" : false
                }
              },
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : { },
              "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ ],
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "nifi-standard-nar",
                "group" : "org.apache.nifi",
                "version" : "1.12.1"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "3ceec2e4-5b00-3eb2-99e7-09f596491da8",
              "identifier" : "6e2c3cf7-8b41-3bcf-809d-459f81ffff06",
              "name" : "RouteOnAttribute",
              "penaltyDuration" : "30 sec",
              "position" : {
                "x" : 360.0,
                "y" : 120.0
              },
              "properties" : {
                "Routing Strategy" : "Route to Property name",
                "Success" : "${invokehttp.status.code:equals('200')}"
              },
              "propertyDescriptors" : {
                "Routing Strategy" : {
                  "displayName" : "Routing Strategy",
                  "identifiesControllerService" : false,
                  "name" : "Routing Strategy",
                  "sensitive" : false
                },
                "Success" : {
                  "displayName" : "Success",
                  "identifiesControllerService" : false,
                  "name" : "Success",
                  "sensitive" : false
                }
              },
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : { },
              "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
              "yieldDuration" : "1 sec"
            } ],
            "remoteProcessGroups" : [ ],
            "variables" : { }
          }, {
            "comments" : "",
            "componentType" : "PROCESS_GROUP",
            "connections" : [ {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ {
                "x" : 1944.0,
                "y" : 952.0
              } ],
              "componentType" : "CONNECTION",
              "destination" : {
                "groupId" : "de428c9e-fb4f-320f-b556-7b47d1e18084",
                "id" : "b6ece790-754c-3ce3-9792-8c8c7b038ab2",
                "name" : "Failure",
                "type" : "OUTPUT_PORT"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "de428c9e-fb4f-320f-b556-7b47d1e18084",
              "identifier" : "e125a172-1fbc-322d-9a13-a3265dc48981",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "No Retry", "Retry", "Failure" ],
              "source" : {
                "comments" : "",
                "groupId" : "de428c9e-fb4f-320f-b556-7b47d1e18084",
                "id" : "fe5de16d-2f25-3b2a-a576-c92014af7a48",
                "name" : "Calculate ASCVD and add RiskAssessment to Bundle",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "de428c9e-fb4f-320f-b556-7b47d1e18084",
                "id" : "fe5de16d-2f25-3b2a-a576-c92014af7a48",
                "name" : "Calculate ASCVD and add RiskAssessment to Bundle",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "de428c9e-fb4f-320f-b556-7b47d1e18084",
              "identifier" : "723414ab-4da2-3996-8f5e-babc60b3becb",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "" ],
              "source" : {
                "comments" : "",
                "groupId" : "de428c9e-fb4f-320f-b556-7b47d1e18084",
                "id" : "d257175c-4548-311a-9003-56f9305285a9",
                "name" : "FHIR Resource",
                "type" : "INPUT_PORT"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "groupId" : "de428c9e-fb4f-320f-b556-7b47d1e18084",
                "id" : "b6ece790-754c-3ce3-9792-8c8c7b038ab2",
                "name" : "Failure",
                "type" : "OUTPUT_PORT"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "de428c9e-fb4f-320f-b556-7b47d1e18084",
              "identifier" : "0cc0efca-5876-31a4-a9e0-f9b39e208ab0",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "unmatched" ],
              "source" : {
                "comments" : "",
                "groupId" : "de428c9e-fb4f-320f-b556-7b47d1e18084",
                "id" : "781921fd-fbc2-3e92-bf1f-54e818d76a41",
                "name" : "RouteOnAttribute",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "de428c9e-fb4f-320f-b556-7b47d1e18084",
                "id" : "1f5f5055-9e5c-3256-8918-b354c885135a",
                "name" : "Output",
                "type" : "OUTPUT_PORT"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "de428c9e-fb4f-320f-b556-7b47d1e18084",
              "identifier" : "2c35b8ad-7181-3d6f-9744-966b57f170fc",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "Success" ],
              "source" : {
                "comments" : "",
                "groupId" : "de428c9e-fb4f-320f-b556-7b47d1e18084",
                "id" : "781921fd-fbc2-3e92-bf1f-54e818d76a41",
                "name" : "RouteOnAttribute",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "de428c9e-fb4f-320f-b556-7b47d1e18084",
                "id" : "781921fd-fbc2-3e92-bf1f-54e818d76a41",
                "name" : "RouteOnAttribute",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "de428c9e-fb4f-320f-b556-7b47d1e18084",
              "identifier" : "a7ab66e5-5148-3026-8eb3-c7146b0de6d3",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "Response" ],
              "source" : {
                "comments" : "",
                "groupId" : "de428c9e-fb4f-320f-b556-7b47d1e18084",
                "id" : "fe5de16d-2f25-3b2a-a576-c92014af7a48",
                "name" : "Calculate ASCVD and add RiskAssessment to Bundle",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            } ],
            "controllerServices" : [ ],
            "flowFileConcurrency" : "UNBOUNDED",
            "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
            "funnels" : [ ],
            "groupIdentifier" : "e8cc5a19-56bf-3544-9096-58afa401a844",
            "identifier" : "de428c9e-fb4f-320f-b556-7b47d1e18084",
            "inputPorts" : [ {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "de428c9e-fb4f-320f-b556-7b47d1e18084",
              "identifier" : "d257175c-4548-311a-9003-56f9305285a9",
              "name" : "FHIR Resource",
              "position" : {
                "x" : 1432.0,
                "y" : 528.0
              },
              "type" : "INPUT_PORT"
            } ],
            "labels" : [ ],
            "name" : "Run ASCVD",
            "outputPorts" : [ {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "OUTPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "de428c9e-fb4f-320f-b556-7b47d1e18084",
              "identifier" : "1f5f5055-9e5c-3256-8918-b354c885135a",
              "name" : "Output",
              "position" : {
                "x" : 1104.0,
                "y" : 1248.0
              },
              "type" : "OUTPUT_PORT"
            }, {
              "allowRemoteAccess" : false,
              "componentType" : "OUTPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "de428c9e-fb4f-320f-b556-7b47d1e18084",
              "identifier" : "b6ece790-754c-3ce3-9792-8c8c7b038ab2",
              "name" : "Failure",
              "position" : {
                "x" : 1824.0,
                "y" : 1248.0
              },
              "type" : "OUTPUT_PORT"
            } ],
            "parameterContextName" : "ASCVD Parameter Context",
            "position" : {
              "x" : 904.0,
              "y" : 1360.0
            },
            "processGroups" : [ ],
            "processors" : [ {
              "autoTerminatedRelationships" : [ "Original" ],
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "nifi-standard-nar",
                "group" : "org.apache.nifi",
                "version" : "1.12.1"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "de428c9e-fb4f-320f-b556-7b47d1e18084",
              "identifier" : "fe5de16d-2f25-3b2a-a576-c92014af7a48",
              "name" : "Calculate ASCVD and add RiskAssessment to Bundle",
              "penaltyDuration" : "30 sec",
              "position" : {
                "x" : 1376.0,
                "y" : 696.0
              },
              "properties" : {
                "use-etag" : "false",
                "Proxy Type" : "http",
                "Connection Timeout" : "5 secs",
                "send-message-body" : "true",
                "set-form-filename" : "true",
                "Always Output Response" : "false",
                "etag-max-cache-size" : "10MB",
                "idle-timeout" : "5 mins",
                "Use Chunked Encoding" : "false",
                "Follow Redirects" : "True",
                "Remote URL" : "#{ASCVD_FROM_FHIR_URL}/fhir",
                "Content-Type" : "${mime.type}",
                "max-idle-connections" : "5",
                "Read Timeout" : "15 secs",
                "Max Length To Put In Attribute" : "256",
                "ignore-response-content" : "false",
                "Digest Authentication" : "false",
                "HTTP Method" : "POST",
                "Add Response Headers to Request" : "false",
                "Include Date Header" : "True",
                "Penalize on \"No Retry\"" : "false"
              },
              "propertyDescriptors" : {
                "Proxy Host" : {
                  "displayName" : "Proxy Host",
                  "identifiesControllerService" : false,
                  "name" : "Proxy Host",
                  "sensitive" : false
                },
                "Attributes to Send" : {
                  "displayName" : "Attributes to Send",
                  "identifiesControllerService" : false,
                  "name" : "Attributes to Send",
                  "sensitive" : false
                },
                "use-etag" : {
                  "displayName" : "Use HTTP ETag",
                  "identifiesControllerService" : false,
                  "name" : "use-etag",
                  "sensitive" : false
                },
                "proxy-configuration-service" : {
                  "displayName" : "Proxy Configuration Service",
                  "identifiesControllerService" : true,
                  "name" : "proxy-configuration-service",
                  "sensitive" : false
                },
                "Proxy Type" : {
                  "displayName" : "Proxy Type",
                  "identifiesControllerService" : false,
                  "name" : "Proxy Type",
                  "sensitive" : false
                },
                "Basic Authentication Password" : {
                  "displayName" : "Basic Authentication Password",
                  "identifiesControllerService" : false,
                  "name" : "Basic Authentication Password",
                  "sensitive" : true
                },
                "Connection Timeout" : {
                  "displayName" : "Connection Timeout",
                  "identifiesControllerService" : false,
                  "name" : "Connection Timeout",
                  "sensitive" : false
                },
                "send-message-body" : {
                  "displayName" : "Send Message Body",
                  "identifiesControllerService" : false,
                  "name" : "send-message-body",
                  "sensitive" : false
                },
                "set-form-filename" : {
                  "displayName" : "Set Flowfile Form Data File Name",
                  "identifiesControllerService" : false,
                  "name" : "set-form-filename",
                  "sensitive" : false
                },
                "Always Output Response" : {
                  "displayName" : "Always Output Response",
                  "identifiesControllerService" : false,
                  "name" : "Always Output Response",
                  "sensitive" : false
                },
                "etag-max-cache-size" : {
                  "displayName" : "Maximum ETag Cache Size",
                  "identifiesControllerService" : false,
                  "name" : "etag-max-cache-size",
                  "sensitive" : false
                },
                "idle-timeout" : {
                  "displayName" : "Idle Timeout",
                  "identifiesControllerService" : false,
                  "name" : "idle-timeout",
                  "sensitive" : false
                },
                "Put Response Body In Attribute" : {
                  "displayName" : "Put Response Body In Attribute",
                  "identifiesControllerService" : false,
                  "name" : "Put Response Body In Attribute",
                  "sensitive" : false
                },
                "Use Chunked Encoding" : {
                  "displayName" : "Use Chunked Encoding",
                  "identifiesControllerService" : false,
                  "name" : "Use Chunked Encoding",
                  "sensitive" : false
                },
                "Follow Redirects" : {
                  "displayName" : "Follow Redirects",
                  "identifiesControllerService" : false,
                  "name" : "Follow Redirects",
                  "sensitive" : false
                },
                "Remote URL" : {
                  "displayName" : "Remote URL",
                  "identifiesControllerService" : false,
                  "name" : "Remote URL",
                  "sensitive" : false
                },
                "Content-Type" : {
                  "displayName" : "Content-Type",
                  "identifiesControllerService" : false,
                  "name" : "Content-Type",
                  "sensitive" : false
                },
                "form-body-form-name" : {
                  "displayName" : "Flowfile Form Data Name",
                  "identifiesControllerService" : false,
                  "name" : "form-body-form-name",
                  "sensitive" : false
                },
                "max-idle-connections" : {
                  "displayName" : "Max Idle Connections",
                  "identifiesControllerService" : false,
                  "name" : "max-idle-connections",
                  "sensitive" : false
                },
                "invokehttp-proxy-user" : {
                  "displayName" : "Proxy Username",
                  "identifiesControllerService" : false,
                  "name" : "invokehttp-proxy-user",
                  "sensitive" : false
                },
                "Read Timeout" : {
                  "displayName" : "Read Timeout",
                  "identifiesControllerService" : false,
                  "name" : "Read Timeout",
                  "sensitive" : false
                },
                "Max Length To Put In Attribute" : {
                  "displayName" : "Max Length To Put In Attribute",
                  "identifiesControllerService" : false,
                  "name" : "Max Length To Put In Attribute",
                  "sensitive" : false
                },
                "invokehttp-proxy-password" : {
                  "displayName" : "Proxy Password",
                  "identifiesControllerService" : false,
                  "name" : "invokehttp-proxy-password",
                  "sensitive" : true
                },
                "ignore-response-content" : {
                  "displayName" : "Ignore response's content",
                  "identifiesControllerService" : false,
                  "name" : "ignore-response-content",
                  "sensitive" : false
                },
                "Proxy Port" : {
                  "displayName" : "Proxy Port",
                  "identifiesControllerService" : false,
                  "name" : "Proxy Port",
                  "sensitive" : false
                },
                "SSL Context Service" : {
                  "displayName" : "SSL Context Service",
                  "identifiesControllerService" : true,
                  "name" : "SSL Context Service",
                  "sensitive" : false
                },
                "Digest Authentication" : {
                  "displayName" : "Use Digest Authentication",
                  "identifiesControllerService" : false,
                  "name" : "Digest Authentication",
                  "sensitive" : false
                },
                "HTTP Method" : {
                  "displayName" : "HTTP Method",
                  "identifiesControllerService" : false,
                  "name" : "HTTP Method",
                  "sensitive" : false
                },
                "Add Response Headers to Request" : {
                  "displayName" : "Add Response Headers to Request",
                  "identifiesControllerService" : false,
                  "name" : "Add Response Headers to Request",
                  "sensitive" : false
                },
                "Basic Authentication Username" : {
                  "displayName" : "Basic Authentication Username",
                  "identifiesControllerService" : false,
                  "name" : "Basic Authentication Username",
                  "sensitive" : false
                },
                "Include Date Header" : {
                  "displayName" : "Include Date Header",
                  "identifiesControllerService" : false,
                  "name" : "Include Date Header",
                  "sensitive" : false
                },
                "Penalize on \"No Retry\"" : {
                  "displayName" : "Penalize on \"No Retry\"",
                  "identifiesControllerService" : false,
                  "name" : "Penalize on \"No Retry\"",
                  "sensitive" : false
                },
                "Useragent" : {
                  "displayName" : "Useragent",
                  "identifiesControllerService" : false,
                  "name" : "Useragent",
                  "sensitive" : false
                }
              },
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : { },
              "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ ],
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "nifi-standard-nar",
                "group" : "org.apache.nifi",
                "version" : "1.12.1"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "de428c9e-fb4f-320f-b556-7b47d1e18084",
              "identifier" : "781921fd-fbc2-3e92-bf1f-54e818d76a41",
              "name" : "RouteOnAttribute",
              "penaltyDuration" : "30 sec",
              "position" : {
                "x" : 1376.0,
                "y" : 968.0
              },
              "properties" : {
                "Routing Strategy" : "Route to Property name",
                "Success" : "${invokehttp.status.code:equals('200')}"
              },
              "propertyDescriptors" : {
                "Routing Strategy" : {
                  "displayName" : "Routing Strategy",
                  "identifiesControllerService" : false,
                  "name" : "Routing Strategy",
                  "sensitive" : false
                },
                "Success" : {
                  "displayName" : "Success",
                  "identifiesControllerService" : false,
                  "name" : "Success",
                  "sensitive" : false
                }
              },
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : { },
              "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
              "yieldDuration" : "1 sec"
            } ],
            "remoteProcessGroups" : [ ],
            "variables" : { }
          }, {
            "comments" : "",
            "componentType" : "PROCESS_GROUP",
            "connections" : [ {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "00b735b9-5103-37f6-8392-09327e6550c8",
                "id" : "1f5f5055-9e5c-3256-8918-b354c885135a",
                "name" : "Output",
                "type" : "OUTPUT_PORT"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "00b735b9-5103-37f6-8392-09327e6550c8",
              "identifier" : "1b10ab6e-c21a-35b6-8666-b51127c8bfb7",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "Success" ],
              "source" : {
                "comments" : "",
                "groupId" : "00b735b9-5103-37f6-8392-09327e6550c8",
                "id" : "95c2cbe8-a8ea-35ab-be23-1b9dea39e83f",
                "name" : "RouteOnAttribute",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "groupId" : "00b735b9-5103-37f6-8392-09327e6550c8",
                "id" : "b6ece790-754c-3ce3-9792-8c8c7b038ab2",
                "name" : "Failure",
                "type" : "OUTPUT_PORT"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "00b735b9-5103-37f6-8392-09327e6550c8",
              "identifier" : "f1060b11-8197-3d76-ae77-26d6cfb0ce7a",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "unmatched" ],
              "source" : {
                "comments" : "",
                "groupId" : "00b735b9-5103-37f6-8392-09327e6550c8",
                "id" : "95c2cbe8-a8ea-35ab-be23-1b9dea39e83f",
                "name" : "RouteOnAttribute",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ {
                "x" : 1280.0,
                "y" : 336.0
              } ],
              "componentType" : "CONNECTION",
              "destination" : {
                "groupId" : "00b735b9-5103-37f6-8392-09327e6550c8",
                "id" : "b6ece790-754c-3ce3-9792-8c8c7b038ab2",
                "name" : "Failure",
                "type" : "OUTPUT_PORT"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "00b735b9-5103-37f6-8392-09327e6550c8",
              "identifier" : "b1dd0d82-5542-32fb-9966-560fcb38714e",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "No Retry", "Retry", "Failure" ],
              "source" : {
                "comments" : "",
                "groupId" : "00b735b9-5103-37f6-8392-09327e6550c8",
                "id" : "c1d3d962-e9d1-36b5-81c1-8933de1c2e91",
                "name" : "InvokeHTTP",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "00b735b9-5103-37f6-8392-09327e6550c8",
                "id" : "c1d3d962-e9d1-36b5-81c1-8933de1c2e91",
                "name" : "InvokeHTTP",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "00b735b9-5103-37f6-8392-09327e6550c8",
              "identifier" : "12d85fc9-f95a-335d-bce5-5d5383a08bcf",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "" ],
              "source" : {
                "comments" : "",
                "groupId" : "00b735b9-5103-37f6-8392-09327e6550c8",
                "id" : "d257175c-4548-311a-9003-56f9305285a9",
                "name" : "FHIR Resource",
                "type" : "INPUT_PORT"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "00b735b9-5103-37f6-8392-09327e6550c8",
                "id" : "95c2cbe8-a8ea-35ab-be23-1b9dea39e83f",
                "name" : "RouteOnAttribute",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "00b735b9-5103-37f6-8392-09327e6550c8",
              "identifier" : "ef433c89-44b7-3074-a292-06401597bb96",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "Response" ],
              "source" : {
                "comments" : "",
                "groupId" : "00b735b9-5103-37f6-8392-09327e6550c8",
                "id" : "c1d3d962-e9d1-36b5-81c1-8933de1c2e91",
                "name" : "InvokeHTTP",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            } ],
            "controllerServices" : [ ],
            "flowFileConcurrency" : "UNBOUNDED",
            "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
            "funnels" : [ ],
            "groupIdentifier" : "e8cc5a19-56bf-3544-9096-58afa401a844",
            "identifier" : "00b735b9-5103-37f6-8392-09327e6550c8",
            "inputPorts" : [ {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "00b735b9-5103-37f6-8392-09327e6550c8",
              "identifier" : "d257175c-4548-311a-9003-56f9305285a9",
              "name" : "FHIR Resource",
              "position" : {
                "x" : 832.0,
                "y" : -112.0
              },
              "type" : "INPUT_PORT"
            } ],
            "labels" : [ ],
            "name" : "Resolve Terminology",
            "outputPorts" : [ {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "OUTPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "00b735b9-5103-37f6-8392-09327e6550c8",
              "identifier" : "1f5f5055-9e5c-3256-8918-b354c885135a",
              "name" : "Output",
              "position" : {
                "x" : 568.0,
                "y" : 600.0
              },
              "type" : "OUTPUT_PORT"
            }, {
              "allowRemoteAccess" : false,
              "componentType" : "OUTPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "00b735b9-5103-37f6-8392-09327e6550c8",
              "identifier" : "b6ece790-754c-3ce3-9792-8c8c7b038ab2",
              "name" : "Failure",
              "position" : {
                "x" : 1160.0,
                "y" : 600.0
              },
              "type" : "OUTPUT_PORT"
            } ],
            "parameterContextName" : "Enrichment Parameter Context",
            "position" : {
              "x" : 904.0,
              "y" : 1056.0
            },
            "processGroups" : [ ],
            "processors" : [ {
              "autoTerminatedRelationships" : [ ],
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "nifi-standard-nar",
                "group" : "org.apache.nifi",
                "version" : "1.12.1"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "00b735b9-5103-37f6-8392-09327e6550c8",
              "identifier" : "95c2cbe8-a8ea-35ab-be23-1b9dea39e83f",
              "name" : "RouteOnAttribute",
              "penaltyDuration" : "30 sec",
              "position" : {
                "x" : 776.0,
                "y" : 296.0
              },
              "properties" : {
                "Routing Strategy" : "Route to Property name",
                "Success" : "${invokehttp.status.code:equals('200')}"
              },
              "propertyDescriptors" : {
                "Routing Strategy" : {
                  "displayName" : "Routing Strategy",
                  "identifiesControllerService" : false,
                  "name" : "Routing Strategy",
                  "sensitive" : false
                },
                "Success" : {
                  "displayName" : "Success",
                  "identifiesControllerService" : false,
                  "name" : "Success",
                  "sensitive" : false
                }
              },
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : { },
              "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ "Original" ],
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "nifi-standard-nar",
                "group" : "org.apache.nifi",
                "version" : "1.12.1"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "00b735b9-5103-37f6-8392-09327e6550c8",
              "identifier" : "c1d3d962-e9d1-36b5-81c1-8933de1c2e91",
              "name" : "InvokeHTTP",
              "penaltyDuration" : "30 sec",
              "position" : {
                "x" : 776.0,
                "y" : 48.0
              },
              "properties" : {
                "use-etag" : "false",
                "Proxy Type" : "http",
                "Connection Timeout" : "5 secs",
                "send-message-body" : "true",
                "set-form-filename" : "true",
                "Always Output Response" : "false",
                "etag-max-cache-size" : "10MB",
                "idle-timeout" : "5 mins",
                "Use Chunked Encoding" : "false",
                "Follow Redirects" : "True",
                "Remote URL" : "#{TERM_SERVICES_PREP_URL}",
                "Content-Type" : "${mime.type}",
                "max-idle-connections" : "5",
                "Read Timeout" : "15 secs",
                "Max Length To Put In Attribute" : "256",
                "ignore-response-content" : "false",
                "Digest Authentication" : "false",
                "HTTP Method" : "POST",
                "Add Response Headers to Request" : "false",
                "Include Date Header" : "True",
                "Penalize on \"No Retry\"" : "false"
              },
              "propertyDescriptors" : {
                "Proxy Host" : {
                  "displayName" : "Proxy Host",
                  "identifiesControllerService" : false,
                  "name" : "Proxy Host",
                  "sensitive" : false
                },
                "Attributes to Send" : {
                  "displayName" : "Attributes to Send",
                  "identifiesControllerService" : false,
                  "name" : "Attributes to Send",
                  "sensitive" : false
                },
                "use-etag" : {
                  "displayName" : "Use HTTP ETag",
                  "identifiesControllerService" : false,
                  "name" : "use-etag",
                  "sensitive" : false
                },
                "proxy-configuration-service" : {
                  "displayName" : "Proxy Configuration Service",
                  "identifiesControllerService" : true,
                  "name" : "proxy-configuration-service",
                  "sensitive" : false
                },
                "Proxy Type" : {
                  "displayName" : "Proxy Type",
                  "identifiesControllerService" : false,
                  "name" : "Proxy Type",
                  "sensitive" : false
                },
                "Basic Authentication Password" : {
                  "displayName" : "Basic Authentication Password",
                  "identifiesControllerService" : false,
                  "name" : "Basic Authentication Password",
                  "sensitive" : true
                },
                "Connection Timeout" : {
                  "displayName" : "Connection Timeout",
                  "identifiesControllerService" : false,
                  "name" : "Connection Timeout",
                  "sensitive" : false
                },
                "send-message-body" : {
                  "displayName" : "Send Message Body",
                  "identifiesControllerService" : false,
                  "name" : "send-message-body",
                  "sensitive" : false
                },
                "set-form-filename" : {
                  "displayName" : "Set Flowfile Form Data File Name",
                  "identifiesControllerService" : false,
                  "name" : "set-form-filename",
                  "sensitive" : false
                },
                "Always Output Response" : {
                  "displayName" : "Always Output Response",
                  "identifiesControllerService" : false,
                  "name" : "Always Output Response",
                  "sensitive" : false
                },
                "etag-max-cache-size" : {
                  "displayName" : "Maximum ETag Cache Size",
                  "identifiesControllerService" : false,
                  "name" : "etag-max-cache-size",
                  "sensitive" : false
                },
                "idle-timeout" : {
                  "displayName" : "Idle Timeout",
                  "identifiesControllerService" : false,
                  "name" : "idle-timeout",
                  "sensitive" : false
                },
                "Put Response Body In Attribute" : {
                  "displayName" : "Put Response Body In Attribute",
                  "identifiesControllerService" : false,
                  "name" : "Put Response Body In Attribute",
                  "sensitive" : false
                },
                "Use Chunked Encoding" : {
                  "displayName" : "Use Chunked Encoding",
                  "identifiesControllerService" : false,
                  "name" : "Use Chunked Encoding",
                  "sensitive" : false
                },
                "Follow Redirects" : {
                  "displayName" : "Follow Redirects",
                  "identifiesControllerService" : false,
                  "name" : "Follow Redirects",
                  "sensitive" : false
                },
                "Remote URL" : {
                  "displayName" : "Remote URL",
                  "identifiesControllerService" : false,
                  "name" : "Remote URL",
                  "sensitive" : false
                },
                "Content-Type" : {
                  "displayName" : "Content-Type",
                  "identifiesControllerService" : false,
                  "name" : "Content-Type",
                  "sensitive" : false
                },
                "form-body-form-name" : {
                  "displayName" : "Flowfile Form Data Name",
                  "identifiesControllerService" : false,
                  "name" : "form-body-form-name",
                  "sensitive" : false
                },
                "max-idle-connections" : {
                  "displayName" : "Max Idle Connections",
                  "identifiesControllerService" : false,
                  "name" : "max-idle-connections",
                  "sensitive" : false
                },
                "invokehttp-proxy-user" : {
                  "displayName" : "Proxy Username",
                  "identifiesControllerService" : false,
                  "name" : "invokehttp-proxy-user",
                  "sensitive" : false
                },
                "Read Timeout" : {
                  "displayName" : "Read Timeout",
                  "identifiesControllerService" : false,
                  "name" : "Read Timeout",
                  "sensitive" : false
                },
                "Max Length To Put In Attribute" : {
                  "displayName" : "Max Length To Put In Attribute",
                  "identifiesControllerService" : false,
                  "name" : "Max Length To Put In Attribute",
                  "sensitive" : false
                },
                "invokehttp-proxy-password" : {
                  "displayName" : "Proxy Password",
                  "identifiesControllerService" : false,
                  "name" : "invokehttp-proxy-password",
                  "sensitive" : true
                },
                "ignore-response-content" : {
                  "displayName" : "Ignore response's content",
                  "identifiesControllerService" : false,
                  "name" : "ignore-response-content",
                  "sensitive" : false
                },
                "Proxy Port" : {
                  "displayName" : "Proxy Port",
                  "identifiesControllerService" : false,
                  "name" : "Proxy Port",
                  "sensitive" : false
                },
                "SSL Context Service" : {
                  "displayName" : "SSL Context Service",
                  "identifiesControllerService" : true,
                  "name" : "SSL Context Service",
                  "sensitive" : false
                },
                "Digest Authentication" : {
                  "displayName" : "Use Digest Authentication",
                  "identifiesControllerService" : false,
                  "name" : "Digest Authentication",
                  "sensitive" : false
                },
                "HTTP Method" : {
                  "displayName" : "HTTP Method",
                  "identifiesControllerService" : false,
                  "name" : "HTTP Method",
                  "sensitive" : false
                },
                "Add Response Headers to Request" : {
                  "displayName" : "Add Response Headers to Request",
                  "identifiesControllerService" : false,
                  "name" : "Add Response Headers to Request",
                  "sensitive" : false
                },
                "Basic Authentication Username" : {
                  "displayName" : "Basic Authentication Username",
                  "identifiesControllerService" : false,
                  "name" : "Basic Authentication Username",
                  "sensitive" : false
                },
                "Include Date Header" : {
                  "displayName" : "Include Date Header",
                  "identifiesControllerService" : false,
                  "name" : "Include Date Header",
                  "sensitive" : false
                },
                "Penalize on \"No Retry\"" : {
                  "displayName" : "Penalize on \"No Retry\"",
                  "identifiesControllerService" : false,
                  "name" : "Penalize on \"No Retry\"",
                  "sensitive" : false
                },
                "Useragent" : {
                  "displayName" : "Useragent",
                  "identifiesControllerService" : false,
                  "name" : "Useragent",
                  "sensitive" : false
                }
              },
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : { },
              "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
              "yieldDuration" : "1 sec"
            } ],
            "remoteProcessGroups" : [ ],
            "variables" : { }
          } ],
          "processors" : [ {
            "autoTerminatedRelationships" : [ ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.12.1"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "e8cc5a19-56bf-3544-9096-58afa401a844",
            "identifier" : "2125f92d-1e70-3f24-bcab-daa5f169b1c0",
            "name" : "RouteOnAttribute",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 296.0,
              "y" : 512.0
            },
            "properties" : {
              "Routing Strategy" : "Route to Property name",
              "AddNLPInsights" : "${AddNLPInsights:notNull():and(${AddNLPInsights:isEmpty():not()}):ifElse(${AddNLPInsights},#{AddNLPInsights}):equalsIgnoreCase(\"true\")}"
            },
            "propertyDescriptors" : {
              "Routing Strategy" : {
                "displayName" : "Routing Strategy",
                "identifiesControllerService" : false,
                "name" : "Routing Strategy",
                "sensitive" : false
              },
              "AddNLPInsights" : {
                "displayName" : "AddNLPInsights",
                "identifiesControllerService" : false,
                "name" : "AddNLPInsights",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.12.1"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "e8cc5a19-56bf-3544-9096-58afa401a844",
            "identifier" : "e8b8920f-ddb7-31e1-aac1-b5e88fa36f27",
            "name" : "RouteOnAttribute",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 296.0,
              "y" : 1392.0
            },
            "properties" : {
              "Routing Strategy" : "Route to Property name",
              "RunASCVD" : "${RunASCVD:notNull():and(${RunASCVD:isEmpty():not()}):ifElse(${RunASCVD},#{RunASCVD}):equalsIgnoreCase(\"true\")}"
            },
            "propertyDescriptors" : {
              "Routing Strategy" : {
                "displayName" : "Routing Strategy",
                "identifiesControllerService" : false,
                "name" : "Routing Strategy",
                "sensitive" : false
              },
              "RunASCVD" : {
                "displayName" : "RunASCVD",
                "identifiesControllerService" : false,
                "name" : "RunASCVD",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.12.1"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "e8cc5a19-56bf-3544-9096-58afa401a844",
            "identifier" : "f1a1f3a5-2b12-36dd-8f93-63772746b2eb",
            "name" : "RouteOnAttribute",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 296.0,
              "y" : 1088.0
            },
            "properties" : {
              "ResolveTerminology" : "${ResolveTerminology:notNull():and(${ResolveTerminology:isEmpty():not()}):ifElse(${ResolveTerminology},#{ResolveTerminology}):equalsIgnoreCase(\"true\")}",
              "Routing Strategy" : "Route to Property name"
            },
            "propertyDescriptors" : {
              "ResolveTerminology" : {
                "displayName" : "ResolveTerminology",
                "identifiesControllerService" : false,
                "name" : "ResolveTerminology",
                "sensitive" : false
              },
              "Routing Strategy" : {
                "displayName" : "Routing Strategy",
                "identifiesControllerService" : false,
                "name" : "Routing Strategy",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.12.1"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "e8cc5a19-56bf-3544-9096-58afa401a844",
            "identifier" : "1875c95f-253a-37c5-9589-d3353d5d9af0",
            "name" : "RouteOnAttribute",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 296.0,
              "y" : 784.0
            },
            "properties" : {
              "Routing Strategy" : "Route to Property name",
              "DeidentifyData" : "${DeidentifyData:notNull():and(${DeidentifyData:isEmpty():not()}):ifElse(${DeidentifyData},#{DeidentifyData}):equalsIgnoreCase(\"true\")}"
            },
            "propertyDescriptors" : {
              "Routing Strategy" : {
                "displayName" : "Routing Strategy",
                "identifiesControllerService" : false,
                "name" : "Routing Strategy",
                "sensitive" : false
              },
              "DeidentifyData" : {
                "displayName" : "DeidentifyData",
                "identifiesControllerService" : false,
                "name" : "DeidentifyData",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
            "yieldDuration" : "1 sec"
          } ],
          "remoteProcessGroups" : [ ],
          "variables" : { }
        } ],
        "processors" : [ {
          "autoTerminatedRelationships" : [ "success" ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.12.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "1f4cfbf9-8415-33ee-88f4-c84c25a9f2be",
          "identifier" : "fe6cb592-1960-3474-9428-af4e2438b6b9",
          "name" : "LogMessage",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 2248.0,
            "y" : 1888.0
          },
          "properties" : {
            "log-message" : "Enriched FHIR Bundle posted to kafka",
            "log-level" : "trace"
          },
          "propertyDescriptors" : {
            "log-message" : {
              "displayName" : "Log message",
              "identifiesControllerService" : false,
              "name" : "log-message",
              "sensitive" : false
            },
            "log-level" : {
              "displayName" : "Log Level",
              "identifiesControllerService" : false,
              "name" : "log-level",
              "sensitive" : false
            },
            "log-prefix" : {
              "displayName" : "Log prefix",
              "identifiesControllerService" : false,
              "name" : "log-prefix",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogMessage",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-kafka-2-6-nar",
            "group" : "org.apache.nifi",
            "version" : "1.12.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "1f4cfbf9-8415-33ee-88f4-c84c25a9f2be",
          "identifier" : "c789fe01-dbbe-3d00-89d3-6ca663bb475c",
          "name" : "Publish Enriched Patient",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 2248.0,
            "y" : 1664.0
          },
          "properties" : {
            "compression.type" : "none",
            "attribute-name-regex" : ".*",
            "bootstrap.servers" : "#{kafka.brokers}",
            "sasl.mechanism" : "PLAIN",
            "max.block.ms" : "5 sec",
            "message-header-encoding" : "UTF-8",
            "ack.wait.time" : "5 secs",
            "sasl.username" : "#{kafka.auth.user}",
            "use-transactions" : "true",
            "acks" : "all",
            "security.protocol" : "PLAINTEXT",
            "max.request.size" : "10 MB",
            "sasl.token.auth" : "false",
            "partitioner.class" : "org.apache.kafka.clients.producer.internals.DefaultPartitioner",
            "topic" : "#{enrich.out}",
            "sasl.password" : "#{kafka.auth.password}",
            "key-attribute-encoding" : "utf-8"
          },
          "propertyDescriptors" : {
            "compression.type" : {
              "displayName" : "Compression Type",
              "identifiesControllerService" : false,
              "name" : "compression.type",
              "sensitive" : false
            },
            "attribute-name-regex" : {
              "displayName" : "Attributes to Send as Headers (Regex)",
              "identifiesControllerService" : false,
              "name" : "attribute-name-regex",
              "sensitive" : false
            },
            "bootstrap.servers" : {
              "displayName" : "Kafka Brokers",
              "identifiesControllerService" : false,
              "name" : "bootstrap.servers",
              "sensitive" : false
            },
            "sasl.kerberos.principal" : {
              "displayName" : "Kerberos Principal",
              "identifiesControllerService" : false,
              "name" : "sasl.kerberos.principal",
              "sensitive" : false
            },
            "sasl.kerberos.service.name" : {
              "displayName" : "Kerberos Service Name",
              "identifiesControllerService" : false,
              "name" : "sasl.kerberos.service.name",
              "sensitive" : false
            },
            "kerberos-credentials-service" : {
              "displayName" : "Kerberos Credentials Service",
              "identifiesControllerService" : true,
              "name" : "kerberos-credentials-service",
              "sensitive" : false
            },
            "kafka-key" : {
              "displayName" : "Kafka Key",
              "identifiesControllerService" : false,
              "name" : "kafka-key",
              "sensitive" : false
            },
            "partition" : {
              "displayName" : "Partition",
              "identifiesControllerService" : false,
              "name" : "partition",
              "sensitive" : false
            },
            "sasl.mechanism" : {
              "displayName" : "SASL Mechanism",
              "identifiesControllerService" : false,
              "name" : "sasl.mechanism",
              "sensitive" : false
            },
            "max.block.ms" : {
              "displayName" : "Max Metadata Wait Time",
              "identifiesControllerService" : false,
              "name" : "max.block.ms",
              "sensitive" : false
            },
            "message-header-encoding" : {
              "displayName" : "Message Header Encoding",
              "identifiesControllerService" : false,
              "name" : "message-header-encoding",
              "sensitive" : false
            },
            "message-demarcator" : {
              "displayName" : "Message Demarcator",
              "identifiesControllerService" : false,
              "name" : "message-demarcator",
              "sensitive" : false
            },
            "transactional-id-prefix" : {
              "displayName" : "Transactional Id Prefix",
              "identifiesControllerService" : false,
              "name" : "transactional-id-prefix",
              "sensitive" : false
            },
            "ack.wait.time" : {
              "displayName" : "Acknowledgment Wait Time",
              "identifiesControllerService" : false,
              "name" : "ack.wait.time",
              "sensitive" : false
            },
            "sasl.username" : {
              "displayName" : "Username",
              "identifiesControllerService" : false,
              "name" : "sasl.username",
              "sensitive" : false
            },
            "use-transactions" : {
              "displayName" : "Use Transactions",
              "identifiesControllerService" : false,
              "name" : "use-transactions",
              "sensitive" : false
            },
            "acks" : {
              "displayName" : "Delivery Guarantee",
              "identifiesControllerService" : false,
              "name" : "acks",
              "sensitive" : false
            },
            "security.protocol" : {
              "displayName" : "Security Protocol",
              "identifiesControllerService" : false,
              "name" : "security.protocol",
              "sensitive" : false
            },
            "ssl.context.service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "ssl.context.service",
              "sensitive" : false
            },
            "max.request.size" : {
              "displayName" : "Max Request Size",
              "identifiesControllerService" : false,
              "name" : "max.request.size",
              "sensitive" : false
            },
            "sasl.token.auth" : {
              "displayName" : "Token Auth",
              "identifiesControllerService" : false,
              "name" : "sasl.token.auth",
              "sensitive" : false
            },
            "partitioner.class" : {
              "displayName" : "Partitioner class",
              "identifiesControllerService" : false,
              "name" : "partitioner.class",
              "sensitive" : false
            },
            "sasl.kerberos.keytab" : {
              "displayName" : "Kerberos Keytab",
              "identifiesControllerService" : false,
              "name" : "sasl.kerberos.keytab",
              "sensitive" : false
            },
            "topic" : {
              "displayName" : "Topic Name",
              "identifiesControllerService" : false,
              "name" : "topic",
              "sensitive" : false
            },
            "sasl.password" : {
              "displayName" : "Password",
              "identifiesControllerService" : false,
              "name" : "sasl.password",
              "sensitive" : true
            },
            "key-attribute-encoding" : {
              "displayName" : "Key Attribute Encoding",
              "identifiesControllerService" : false,
              "name" : "key-attribute-encoding",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.kafka.pubsub.PublishKafka_2_6",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success" ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.12.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "1f4cfbf9-8415-33ee-88f4-c84c25a9f2be",
          "identifier" : "e67a05b4-6f93-357c-abe7-3ab07bcc3621",
          "name" : "LogMessage",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 2888.0,
            "y" : 1384.0
          },
          "properties" : {
            "log-message" : "De-Identified FHIR Bundle returned.",
            "log-level" : "trace"
          },
          "propertyDescriptors" : {
            "log-message" : {
              "displayName" : "Log message",
              "identifiesControllerService" : false,
              "name" : "log-message",
              "sensitive" : false
            },
            "log-level" : {
              "displayName" : "Log Level",
              "identifiesControllerService" : false,
              "name" : "log-level",
              "sensitive" : false
            },
            "log-prefix" : {
              "displayName" : "Log prefix",
              "identifiesControllerService" : false,
              "name" : "log-prefix",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogMessage",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-kafka-2-6-nar",
            "group" : "org.apache.nifi",
            "version" : "1.12.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "1f4cfbf9-8415-33ee-88f4-c84c25a9f2be",
          "identifier" : "22f030d1-d837-3920-ab44-9dd6a7288ec3",
          "name" : "Listening for Updated Patients",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 2248.0,
            "y" : 1064.0
          },
          "properties" : {
            "header-name-regex" : ".*",
            "sasl.username" : "#{kafka.auth.user}",
            "max.poll.records" : "10000",
            "group.id" : "Clinical_Ingestion_Group",
            "bootstrap.servers" : "#{kafka.brokers}",
            "topic_type" : "names",
            "security.protocol" : "PLAINTEXT",
            "max-uncommit-offset-wait" : "1 secs",
            "sasl.mechanism" : "PLAIN",
            "sasl.token.auth" : "false",
            "honor-transactions" : "true",
            "Communications Timeout" : "60 secs",
            "topic" : "#{enrich.in}",
            "message-header-encoding" : "UTF-8",
            "sasl.password" : "#{kafka.auth.password}",
            "key-attribute-encoding" : "utf-8",
            "auto.offset.reset" : "earliest"
          },
          "propertyDescriptors" : {
            "header-name-regex" : {
              "displayName" : "Headers to Add as Attributes (Regex)",
              "identifiesControllerService" : false,
              "name" : "header-name-regex",
              "sensitive" : false
            },
            "sasl.username" : {
              "displayName" : "Username",
              "identifiesControllerService" : false,
              "name" : "sasl.username",
              "sensitive" : false
            },
            "max.poll.records" : {
              "displayName" : "Max Poll Records",
              "identifiesControllerService" : false,
              "name" : "max.poll.records",
              "sensitive" : false
            },
            "group.id" : {
              "displayName" : "Group ID",
              "identifiesControllerService" : false,
              "name" : "group.id",
              "sensitive" : false
            },
            "bootstrap.servers" : {
              "displayName" : "Kafka Brokers",
              "identifiesControllerService" : false,
              "name" : "bootstrap.servers",
              "sensitive" : false
            },
            "topic_type" : {
              "displayName" : "Topic Name Format",
              "identifiesControllerService" : false,
              "name" : "topic_type",
              "sensitive" : false
            },
            "sasl.kerberos.principal" : {
              "displayName" : "Kerberos Principal",
              "identifiesControllerService" : false,
              "name" : "sasl.kerberos.principal",
              "sensitive" : false
            },
            "sasl.kerberos.service.name" : {
              "displayName" : "Kerberos Service Name",
              "identifiesControllerService" : false,
              "name" : "sasl.kerberos.service.name",
              "sensitive" : false
            },
            "security.protocol" : {
              "displayName" : "Security Protocol",
              "identifiesControllerService" : false,
              "name" : "security.protocol",
              "sensitive" : false
            },
            "kerberos-credentials-service" : {
              "displayName" : "Kerberos Credentials Service",
              "identifiesControllerService" : true,
              "name" : "kerberos-credentials-service",
              "sensitive" : false
            },
            "ssl.context.service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "ssl.context.service",
              "sensitive" : false
            },
            "max-uncommit-offset-wait" : {
              "displayName" : "Max Uncommitted Time",
              "identifiesControllerService" : false,
              "name" : "max-uncommit-offset-wait",
              "sensitive" : false
            },
            "sasl.mechanism" : {
              "displayName" : "SASL Mechanism",
              "identifiesControllerService" : false,
              "name" : "sasl.mechanism",
              "sensitive" : false
            },
            "sasl.token.auth" : {
              "displayName" : "Token Auth",
              "identifiesControllerService" : false,
              "name" : "sasl.token.auth",
              "sensitive" : false
            },
            "sasl.kerberos.keytab" : {
              "displayName" : "Kerberos Keytab",
              "identifiesControllerService" : false,
              "name" : "sasl.kerberos.keytab",
              "sensitive" : false
            },
            "honor-transactions" : {
              "displayName" : "Honor Transactions",
              "identifiesControllerService" : false,
              "name" : "honor-transactions",
              "sensitive" : false
            },
            "Communications Timeout" : {
              "displayName" : "Communications Timeout",
              "identifiesControllerService" : false,
              "name" : "Communications Timeout",
              "sensitive" : false
            },
            "topic" : {
              "displayName" : "Topic Name(s)",
              "identifiesControllerService" : false,
              "name" : "topic",
              "sensitive" : false
            },
            "message-header-encoding" : {
              "displayName" : "Message Header Encoding",
              "identifiesControllerService" : false,
              "name" : "message-header-encoding",
              "sensitive" : false
            },
            "sasl.password" : {
              "displayName" : "Password",
              "identifiesControllerService" : false,
              "name" : "sasl.password",
              "sensitive" : true
            },
            "message-demarcator" : {
              "displayName" : "Message Demarcator",
              "identifiesControllerService" : false,
              "name" : "message-demarcator",
              "sensitive" : false
            },
            "key-attribute-encoding" : {
              "displayName" : "Key Attribute Encoding",
              "identifiesControllerService" : false,
              "name" : "key-attribute-encoding",
              "sensitive" : false
            },
            "auto.offset.reset" : {
              "displayName" : "Offset Reset",
              "identifiesControllerService" : false,
              "name" : "auto.offset.reset",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.kafka.pubsub.ConsumeKafka_2_6",
          "yieldDuration" : "1 sec"
        } ],
        "remoteProcessGroups" : [ ],
        "variables" : { }
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : {
        "Enrichment Parameter Context" : {
          "name" : "Enrichment Parameter Context",
          "parameters" : [ {
            "description" : "",
            "name" : "ResolveTerminology",
            "sensitive" : false,
            "value" : "True"
          }, {
            "description" : "",
            "name" : "DEID_PREP_URL",
            "sensitive" : false,
            "value" : "http://ingestion-deid-prep:8080"
          }, {
            "description" : "",
            "name" : "kafka.auth.user",
            "sensitive" : false,
            "value" : "token"
          }, {
            "description" : "",
            "name" : "DeidentifyData",
            "sensitive" : false,
            "value" : "True"
          }, {
            "description" : "",
            "name" : "ADD_NLP_INSIGHTS_URL",
            "sensitive" : false,
            "value" : "http://ingestion-nlp-insights:5000"
          }, {
            "description" : "",
            "name" : "TERM_SERVICES_PREP_URL",
            "sensitive" : false,
            "value" : "http://ingestion-term-services-prep:8080"
          }, {
            "description" : "",
            "name" : "enrich.out",
            "sensitive" : false,
            "value" : "patient.enriched.out"
          }, {
            "description" : "",
            "name" : "AddNLPInsights",
            "sensitive" : false,
            "value" : "false"
          }, {
            "description" : "",
            "name" : "kafka.consumer.group",
            "sensitive" : false,
            "value" : "Clinical_Ingestion_Group"
          }, {
            "description" : "",
            "name" : "kafka.brokers",
            "sensitive" : false,
            "value" : "ingestion-kafka:9092"
          }, {
            "description" : "",
            "name" : "enrich.in",
            "sensitive" : false,
            "value" : "patients.updated.out"
          }, {
            "description" : "",
            "name" : "RunASCVD",
            "sensitive" : false,
            "value" : "True"
          }, {
            "description" : "",
            "name" : "kafka.auth.password",
            "sensitive" : true
          }, {
            "description" : "",
            "name" : "DEID_PUSH_TO_FHIR",
            "sensitive" : false,
            "value" : "True"
          }, {
            "description" : "",
            "name" : "DEID_CONFIG_NAME",
            "sensitive" : false,
            "value" : "default"
          } ]
        },
        "ASCVD Parameter Context" : {
          "name" : "ASCVD Parameter Context",
          "parameters" : [ {
            "description" : "",
            "name" : "ASCVD_FROM_FHIR_URL",
            "sensitive" : false,
            "value" : "http://ingestion-ascvd-from-fhir:5000"
          } ]
        }
      }
    }
  }
}